[2015-10-27 20:02] m-revetria opened #2 "Unable to build: use of undelcared type 'ObserverOf'"
Hi!

I'm getting this build error "Use of undeclared type 'ObserverOf'" on Request extension in all `rx_` methods, e.g.:

Request.swift
line 26: `return create { (observer: ObserverOf<NSData>) -> Disposable in`

Currenlty I installed Alamofire v2.0.1 and RxSwift 2.0.0-beta via cocoapods v 0.39.0

How could I fix this error?

[2015-10-27 20:20] bontoJR commented on #2
Hi @m-revetria,

RxSwift 2.0.0-beta requires Alamofire 3.0+ to work.

If you need to use 2.0.1 with RxSwift 2.0.0-beta you need to change `(observer: ObserverOf<NSData>) -> Disposable in` to `observer -> Disposable in`.

[2015-10-30 14:58] bontoJR commented on #2
Hi @m-revetria,
do you still need help?

[2015-11-04 13:42] #2 closed

[2016-01-14 18:30] sboisson opened #7 "Add Carthage support"
With the the current source, Carthage outputs error:

    Dependency "RxAlamofire" has no shared framework schemes

[2016-01-15 07:34] orta commented on #7
Would you like to see if you can get a PR fixing it? You might have more knowledge in the area.

[2016-01-18 20:10] libec commented on #7
Just in case @sboisson doesn't feel like it (or went AFK for a few days) 🙈

[2016-02-08 17:19] eniyavans opened #13 "Error after downloading a file using RxAlamofire"
Thanks for providing RxAlamofire.

Trying to download a zip file using  RxAlamofire

_ = manager!.rx_download (sourceURL ,destination:localPath)

[code]

Eventhough the zip file gets downloaded successfully, i am getting the alamofire error
“Data could not be serialized. Input data was nil."

Dependencies - Alamofire 3.1.4 ,RxAlamofire

Could you please provide an resolution for the above mentione

[2016-02-15 08:04] bontoJR commented on #7
It seems this is working since a while, if somebody has any related problem, please consider re-open this.

[2016-02-15 08:04] #7 closed

[2016-02-27 17:43] RenGate opened #18 "Usage of observer.onNext in Manager.rx_request method"
In RxAlamofire there is a method [rx_request](https://github.com/RxSwiftCommunity/RxAlamofire/blob/develop/RxAlamofire/Source/RxAlamofire.swift#L338-L368) on Manager class that is used by other methods.
I am concerned that a call to Observer.onNext method the way it is done right now (i.e., not from the a response handling closure) is making code like this
`Alamofire.Manager.sharedInstance.rx_requ

[2016-02-27 18:06] RenGate commented on #18
Ok, now I understand that one need to call one of methods that use [Request.rx_result](https://github.com/RxSwiftCommunity/RxAlamofire/blob/develop/RxAlamofire/Source/RxAlamofire.swift#L703) to get an actual response right after it will be ready. Sorry for bothering.

[2016-02-27 18:06] #18 closed

[2016-02-27 18:09] kzaher commented on #18
:)

[2016-03-01 18:32] volkzayaz opened #19 "rx_response{_} disposing issue"
Hello, guys.

I was using `rx_responseData()` method for downloading imageData for some of my CollectionViewCells.
I set up Observable disposing in prepareForReuse method. However I noticed, that `RxAlamofire` did not cancel Request on disposing and was still loading data in background.

Looking inside I saw that methods of `rx_response{_}` family are created as observables with dispose type `NopD

[2016-03-16 11:56] werediver opened #20 "Update RxSwift dependency to 2.2.0"
The `Podfile` currently specifies dependency on RxSwift 2.1.0, but 2.2.0 has been released on Feb 15 '16.

I suppose RxAlamofire should be compatible with the latest RxSwift version.

[2016-03-16 15:19] bontoJR commented on #20
:+1:  imported @carlosypunto's PR

[2016-03-16 15:19] #20 closed

[2016-03-31 02:59] kremizask commented on #13
I am experiencing the same issue. Have you found a solution to this?

[2016-03-31 08:27] sger commented on #13
@eniyavans @kremizask this is Alamofire issue check this old thread https://github.com/Alamofire/Alamofire/issues/233

[2016-03-31 08:29] bontoJR commented on #13
Thanks for the reply @sger, do you have any idea on how to prevent this? I was able to reproduce the bug this morning, I would like to come up with a workaround or eventually state it as known issue in the doc.

[2016-03-31 08:36] sger commented on #13
@bontoJR  writing a custom response handler but i think this is fixed in swift-2.0 branch of Alamofire

[2016-04-12 14:44] idikic opened #21 "Method `rx_progress()` should complete once `totalBytesWritten` and `totalBytesExpectedToWrite` are equals"
[code]

[2016-04-16 13:16] henjue commented on #7
*** Building scheme "RxAlamofire-Carthage" in RxAlamofire.xcworkspace
2016-04-16 21:14:52.714 xcodebuild[39436:786146] [MT] PluginLoading: Required plug-in compatibility UUID ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/XcodeColors.xcplugin' not present in DVTPlugInCompatibilityUUIDs

[2016-04-28 07:30] libec commented on #7
Hey @henjue , this is not directly related to RxAlamofire or Carthage. This basically means that plugin is confused by your Xcode version or some other magic. You can rebuild the plugin or add the version to DVTPlugInCompatibilityUUIDs (see more at https://gist.github.com/neonichu/9487584 ) or just ignore the warning 😅

[2016-04-28 08:32] henjue commented on #7
@libec thk

[2016-05-12 12:52] bontoJR opened #27 "Add CI"
I would definitely like to add CI for RxAlamofire considering the increasing of people using/testing it.

Any recommendation @ashfurrow?

[2016-05-12 14:10] ashfurrow commented on #27
I like [Circle CI](https://circleci.com) but Travis is good, too, I've just been leaning towards Circle more lately.

[2016-05-12 15:29] bontoJR commented on #27
Circle CI is asking for an upgrade to run other over other repos, I don't know why... Travis is working now 🎉

[2016-05-13 12:56] ashfurrow commented on #27
Weird!

[2016-05-26 06:56] rickyngk opened #29 "Cannot get response data when error occurred"
In case I'd like to get error status, I have to do a hack:

[code]

I dunno if we have a better solution. Anyway, I find no way to get response data, e.g:

[code]

After digging in code, I see:

[code]

I think that is the reason why. IMO it'd better if we embed explicitly status code and data (`packedResponse .data`) here

[2016-05-30 12:51] bontoJR commented on #29
This is a good point, I am definitely open to add extra information on status codes giving back an error. 👍

[2016-05-30 13:22] #27 closed

[2016-06-03 21:48] genu1 opened #30 "Carthage fails to build with error citing cocoapods"
*** Building scheme "RxAlamofire-iOS" in RxAlamofire.xcworkspace
** BUILD FAILED **

The following build commands failed:
	PhaseScriptExecution 📦\ Check\ Pods\ Manifest.lock /Users/***/Library/Developer/Xcode/DerivedData/RxAlamofire-dnklpqxrbiqsixffethmxfmjphai/Build/Intermediates/RxAlamofire.build/Release-iphoneos/RxAlamofire-iOS.build/Script-3CE028ADEF441613B86099C2.sh
(1 failure)

The sandbox i

[2016-06-03 21:51] genu1 commented on #30
using 'carthage update --platform iOS'

[2016-06-03 21:51] genu1 commented on #30
in Cartfile
`github "RxSwiftCommunity/RxAlamofire" "master"`

[2016-06-09 06:43] keepingitneil commented on #30
+1 having the same issue.

[2016-06-09 09:27] werediver commented on #19
I think it's really an issue and should be fixed.

@volkzayaz Could you please clarify whether the disposable should strongly capture the request or capture should be weak? (I'm new to RX and really not sure)

[2016-06-09 09:59] kzaher commented on #19
Hi guys,

I think this is by design, you shouldn't manually create alamofire `Request` object.

[code]

The intended use of those methods is inside `flatMap` to select correct result.

Cancelling `Request` from those sequences would be wrong, because you could have two observers observing `rx_request`, and in case one of them disposes it's subscription, it will mirror the cancellation on the other

[2016-06-09 10:05] werediver commented on #19
I think it's ok to mirror cancelation of a shared observable to all observers. If it's not what you want, you create new observables. Am I missing something?

[2016-06-15 04:04] kyungkoo commented on #30
@genu1 Although I executed `carthage update --platform iOS` and `github "RxSwiftCommunity/RxAlamofire" "master"`, build error is occurred.

[2016-06-16 03:17] SeongBrave opened #31 "how set Alamofire timeout"
how set Alamofire timeout

[2016-06-16 03:18] SeongBrave commented on #31
http://stackoverflow.com/questions/31095070/alamofire-does-not-respect-timeout-interval

class APIClient {
    var user = User()
    let alamoFireManager : Alamofire.Manager?
    let center = NSNotificationCenter.defaultCenter()

    init(){
        let configuration = NSURLSessionConfiguration.defaultSessionConfiguration()
        configuration.timeoutIntervalForRequest = 4 // seconds
        con

[2016-06-16 08:37] YSDC commented on #30
+1 having the same issue.... It's really a problem, is anyone taking care of it?

[2016-06-16 12:32] Vkt0r commented on #30
I don't know if someone is taking care of it, but it's a really problem as you said @YSDC , for now I'm working with previous release specifying in the Cartfile one specific commit.

[2016-06-23 21:13] YSDC commented on #30
It's like no one cares about this issue, really not a good point for this lib.

I wanted to push for it in my company (that is not a small one..) but the lake of support, and the number of issues that appears when you want to build (with carthage) or deploy to apple (raised because of this lib) is not at all something positive...

[2016-06-23 21:36] orta commented on #30
Hey there people, you are welcome to give a helping hand, people who work on this repo may not have much knowledge on how to work with Carthage, PRs are, of course encouraged if you have that knowledge.

[2016-06-23 22:08] YSDC opened #32 "Deploy to appstore failed"
Did anyone ever tried to deploy an project archive that contains RxAlamofire?

i got the following message from apple:

And if i try to modify these values or the bitecode parameter from 'yes' to 'no' then i cannot build it anymore.

[2016-06-24 14:45] kzaher commented on #32
Hi @YSDC ,

there is `Enable code coverage support` turned on. I think that might be causing this issue.

I'll try to take a look at why Carthage integration is failing also, but will need some time.

[2016-07-21 15:31] juanuribeo13 commented on #29
+1

[2016-08-03 15:05] solidcell commented on #30
I've opened PR #33 which fixes this issue.

[2016-08-10 17:52] rlam3 opened #34 "How to use this with alamofireobjectmapper?"
How to use this with alamofireobjectmapper?

Please provide  short example

I'm trying to nest several alamofire requests. Is it possible that you provide an example with the documentation? Thanks!

[2016-08-11 02:53] kciter commented on #34
Below is simple example.
https://gist.github.com/kciter/e6f13119cbf8ad0963a68a5ebc421069
[code]

[2016-08-12 00:30] rlam3 commented on #34
@kciter Thanks. But what if I need to do nested alamofire requests? Do I make both request an observable? or just one observable with nested alamofire?

[2016-08-12 01:45] kciter commented on #34
@rlam3 What do you think is below to use?
[code]

[2016-08-12 17:27] rlam3 commented on #34
@kciter From what it looks like, you're mapping the comments to the post themselves correct? How do I get the values out of result? result.post? result.comment?

Say for example. I need to asynchronously obtain a JSON web token and use this token in the next request like retrieving a post. Is there a way similar to promisekit in rxswift for this? Like

getjsonwebtoken().then{
    jwt in
    getPos

[2016-08-13 21:05] piv199 opened #35 "CustomSerializer for rx_requests"
Hi there,

I have not a single project that responses to me via JSON, both for errors and valid responses. So I need to use custom serializer as I did when I used Alamofire.

But, when I start using RxAlamofire, all its requests are using default response serializers.

I have such kind of responses:

[code]
and for valid result:

[code]

Is there any way of creating such rx code, create custom NSE

[2016-08-14 07:46] piv199 opened #36 "On each button tap make request"
Hi again, just have question and don't know how to make it swifty. Now I have the next:

[code]

But the request is performed only once, thus onDisposed is called after request returns either onError or onCompleted. My goal is todo inline request for each button tap and listen either for error or next events.

How could it be done inline? I really don't want shift code right :neckbeard:

[2016-08-15 13:31] piv199 commented on #36
[#316](ReactiveX/RxSwift#316) duplicate

[2016-08-15 13:31] #36 closed

[2016-08-15 19:58] rlam3 commented on #34
Found http://www.finneycanhelp.com/tag/rxswift/ ... I guess what was returned for result should be  more like (posts, comments) and from there we can do what we need

[2016-08-16 01:42] kciter commented on #34
@rlam3
[code]

[2016-08-18 04:03] rlam3 commented on #34
@kciter When I use flatMap. It gave me the following error:

[code]

What does this mean and how should I resolve this? Thanks!

[2016-08-18 04:20] kciter commented on #34
@rlam3 Please show me your code. :)

[2016-08-19 13:47] rlam3 commented on #34
@kciter Looks like I was able to get it to work now. I believe it was a mapping issue. Thanks! My next problem is that Swift doesn't recognize my JSON parameters? Is there a specific way to implement headers and parameters when using Alamofire.JSON this way? Everything is installed correctly.

When I cmd + left-click on "JSON", it does not take me to the function. It returns back to me a question

[2016-08-19 17:55] rlam3 commented on #34
URL Strings are great and all. But I'd like to get more control over my requests that I build when I am doing "Alamofire.request" instead of RxAlamofire.request because I'm trying to update the body of my json POST. Is there a way around this? This seems much more complicated than it should be since all I'm trying to do is obtain a token and then use that token in the next request. I'm observing a

[2016-08-22 02:20] kciter commented on #34
Hello, @rlam3
I don't know APIClient object. but if write the code in my way as below.

[code]

The biggest difference is changed `flatMap` to ` map`.

[2016-08-22 08:39] damienrambout opened #37 "Migrate to Swift 3"
Hi,

What is the ETA for a Swift 3 version of RxAlamofire?

Cheers.

[2016-08-22 18:00] rlam3 commented on #34
@kciter Okay. I tried your following code but my response only give me back the following::

[code]
when it prints out and it doesn't have any properties or attributes I can call onto from the observable. How do I interact with the second JSON  response? Thanks!

Reference:
https://www.natashatherobot.com/swift-2-flatmap/

[2016-08-23 12:12] kciter commented on #34
@rlam3 `flatMap` and `map` operator has only one parameter. If you want to return 2 params, you can use to `Set Type`.

[2016-08-23 15:20] rlam3 commented on #34
@kciter i see... also I'd like to mention that print statements insdie of "flatMap{}" usually triggers

[code]

Any reason why this may happen or why it is not a good idea to put a print statement inside flatMap before the return statement?

[2016-08-25 12:22] kzaher commented on #37
Hi @damienrambout ,

I'll probably need it in two-three weeks, so if nobody else will have the time until, then I can help with transition in that time frame.

[2016-08-25 21:56] kzaher commented on #37
https://github.com/RxSwiftCommunity/RxAlamofire/pull/38

[2016-09-01 03:24] alexiosdev commented on #37
Hi, all.
Based on recent version of RxSwift & Alamofire with Swift3, I did something like this and can anyone see if this is correct implementation?
Thank you.

Full source is attached in zip file, also I used my Log module and you can remove it (Sorry.)

[code]

[code]
[RxAlamofire.zip](https://github.com/RxSwiftCommunity/RxAlamofire/files/448748/RxAlamofire.zip)

[2016-09-05 08:12] Rep2 opened #40 "Carthage tvOS"
Carthage update skips RxAlamofire with error:

Project has tvOS target, but it is not shared. Any reason for this.

[2016-09-19 22:12] guitcastro opened #42 "No such module 'RxCocoa' using swift 3.0"
Hi,

I am trying to add RXAlamofire in my project using:

[code]

But I am getting `No such module 'RxCocoa'` in the import:
[code]

[2016-09-20 14:03] RoryKelly commented on #42
I have the same problem any solution yet?

[2016-09-21 04:21] Gurpartap opened #43 ""Module file's minimum deployment target is ios9.0 v9.0""
In a blank new project with only RxAlamofire from after the Swift 3.0 PR merge on Xcode 8.0 (8A218a).

[code]

[code]

![screen shot 2016-09-21 at 9 49 21 am](https://cloud.githubusercontent.com/assets/39792/18697655/e6a0a544-7fe0-11e6-9098-7d464e76203c.png)

[2016-09-22 14:58] solidcell opened #45 "Workspace contains no schemes or anything"
I'm trying to open the workspace on `develop` (currently https://github.com/RxSwiftCommunity/RxAlamofire/commit/6a6a3ec823a59c719da4d7710264e177a6411f09), however Xcode shows no files or schemes available.

I noticed that it happened with this commit @kzaher: https://github.com/RxSwiftCommunity/RxAlamofire/commit/19509a222418051fb3dfca8340714b210c9d93db

Maybe there's something I'm missing?

Here'

[2016-09-22 15:52] felixk commented on #42
I have the same issue as well.

[2016-09-22 19:38] sergdort commented on #45
Hi, what workspace did you open, there are two

on in the root directory of the project and another on in `RxAlamofire` folder

[2016-09-22 20:25] stanislavprokopov opened #46 "Carthage fails to fetch RxSwift"
I have added `github "RxSwiftCommunity/RxAlamofire" "master"`, and when i run `carthage update` it fails:

`*** Fetching RxAlamofire
Parse error: unexpected trailing characters in line: github "ReactiveX/RxSwift" ~> 3.0.0-beta.1`

The issue here is that carthage does not support this style `3.0.0-beta.1` of version number, according to official documentation:

Please change the carthage RxSwift de

[2016-09-22 20:31] kzaher commented on #46
Hi @stanislavprokopov ,

I've fixed this, I think this should work now. You will maybe need to clean Carthage cache :(

[2016-09-22 20:32] stanislavprokopov commented on #46
@kzaher, thanks! That was quick. Now it works.

[2016-09-22 20:32] #46 closed

[2016-09-22 20:33] kzaher commented on #42
We've made a 3.0.0-beta.1 pre-release, should work now.

[2016-09-22 20:41] guitcastro commented on #42
it's working now! Thanks

[2016-09-22 20:41] #42 closed

[2016-09-22 20:49] sergdort commented on #37
Looks like we can close this on :)

[2016-09-22 20:49] #37 closed

[2016-09-23 08:18] solidcell commented on #45
Ah, right you are, I was trying to open the root workspace before.  Thanks!

[2016-09-23 08:18] #45 closed

[2016-09-23 08:30] solidcell opened #47 "Carthage is building the project twice"
I just realized that Carthage is building the project twice.  I haven't looked into it yet, but I'm planning to.  Just putting this out there in case anyone else gets to it first or knows why right off the bat.

[code]

[2016-09-23 09:11] solidcell commented on #30
This works as of [`3.0.0-beta.1`](https://github.com/RxSwiftCommunity/RxAlamofire/tree/3.0.0-beta.1).  Someone with permissions should close it out.

[2016-09-23 12:18] kzaher commented on #47
Hi @solidcell ,

if you figure out anything, please share ...

[2016-09-23 12:21] #30 closed

[2016-09-23 15:04] silvansky commented on #43
Any workaround?

[2016-09-23 17:37] kzaher commented on #43
Hi @Gurpartap ,

I don't know, this same Podfile works for me.

[code]

[2016-09-23 17:39] kzaher commented on #35
Take a look at implementation of `rx.json`, that should give you an idea how to do this.

[code]

[2016-09-23 17:39] #35 closed

[2016-09-23 17:40] #32 closed

[2016-09-23 17:40] #21 closed

[2016-09-23 17:41] kzaher commented on #19
No IMHO.

[2016-09-23 17:41] #19 closed

[2016-09-24 13:36] solidcell opened #48 "progress() logic is incorrect"
Before I make a PR, I wanted to verify I'm not missing something.  The logic for `progress()` is seemingly very wrong.  [This is the method in question.](https://github.com/RxSwiftCommunity/RxAlamofire/blob/86d8e62700540e30b9c371acf0424abb338397b2/Sources/RxAlamofire.swift#L858)
1.  The property `RxProgress.totalBytesWritten` is named for the opposite of what it actually does.  Shouldn't it be som

[2016-09-25 20:21] kzaher commented on #40
I think this is fixed.

[2016-09-25 20:21] #40 closed

[2016-09-25 20:26] kzaher commented on #48
Hi @solidcell ,

I think you are right.

I believe it should be something like this:

[code]

[2016-09-26 20:48] stanislavprokopov commented on #34
@kciter I am trying to use the example you provided in the second comment to this issue with latest versions of Swift, ObjectMapper and RxAlamofire and it fails during "map(json)". Could you please provide an updated example?
The only changes I did are related to compiler complaining about "map(json)" so i had to change it to "map(JSONObject: json)", not sure if this is correct, what is the actual

[2016-09-27 20:37] stanislavprokopov commented on #34
I have resolved the issue i was having by changing the
[code]
to
[code]

[2016-09-28 14:04] silvansky commented on #43
pod --version
    1.1.0.rc.2

But the problem is still present.

[2016-09-29 08:58] sergdort commented on #48
Hey, guys!  I wonder why do we need RxProgress at all?
Why can't we use `Progress` from Alamofire?
And since it used to be a `NSProgress` it has the same API in order to work with progress
E.g if you have multiple progresses you can combine them  into one in order to show progress of multiple tasks

[2016-09-29 09:58] solidcell commented on #48
Yea, we could just get rid of it completely.  I'm on board.

[2016-09-30 10:39] 0x384c0 commented on #37
when the new version will be published in Cocoapods?

[2016-10-02 17:46] sergdort commented on #37
@0x384c0 Should be there isn't it?

[2016-10-03 21:01] guitcastro opened #50 "Use [String:Any] instead of [String:AnyObject] for request parameters"
Alamofire 4.0 use `[String:Any]` instead of `[String:AnyObject]`, we should use the same interface as well.

[2016-10-07 20:23] digitaltoad opened #54 "Receiving "Ambiguous reference to member 'progress'" with download"
When following the progress example, only modifying it for download I'm receiving this compiler error in regard to `request.rx.progress()` using Swift 3.0 and Xcode 8. The example for upload seems to work fine. I feel like this may be because `UploadRequest` inherits `DataRequest` but `DownloadRequest` inherits `Request`. I could possibly test this theory and send a PR if other eyes deem that the

[2016-10-12 20:41] wassimseif opened #55 "Invalid Declaration"
Guys i'm still getting the invalid declaration error
![screen shot 2016-10-12 at 11 39 49 pm](https://cloud.githubusercontent.com/assets/7282773/19326931/369222b2-90d5-11e6-9009-2332a363431d.png)
My podfile
[code]

[2016-10-12 20:55] wassimseif commented on #55
it builds when i comment out these to lines and `import RxCocoa`

[2016-10-13 08:05] pabsanmez commented on #55
Probably Moya', '8.0.0-beta.2' is downloading RxSwift and RxCocoa 3.0.0-beta.2 and RxAlamofire is not working with beta.2, they have to update it. You can use a previous version of Moya until they upgrade RxAlamofire to beta.2

[2016-10-14 09:05] terietor opened #57 "Invalid framework with carthage"
If you use carthage in order to build RxAlamofire an invalid framework will be created.

The framework which will be created will work normally in the simulator and in devices but
if you try to create an archive of your application which contains RxAlamofire you will come across to two issues
1. XCode will crash
2. ITC will complain about RxAlamofire embedded framework

I have investigated these i

[2016-10-16 12:44] skyline75489 commented on #42
I'm still getting this with 3.0.0-beta.1. Any thoughts?

[2016-10-16 13:37] joaoh82 commented on #42
What I did is I imported manually the rxalamofire.swift file and for some reason had to change this on the imports...

import RxCocoa
//import struct RxCocoa.Reactive
//import protocol RxCocoa.ReactiveCompatible

But it is working.

[2016-10-16 23:08] kzaher commented on #50
https://github.com/RxSwiftCommunity/RxAlamofire/issues/51

[2016-10-16 23:08] #50 closed

[2016-10-16 23:12] kzaher commented on #57
Hi @terietor ,

I've pushed fix for this. If you figure out why Carthage is building the project from workspace, please let us know.

[2016-10-16 23:34] kzaher commented on #54
Hi @digitaltoad ,

this should be solved now.

[2016-10-18 08:22] wassimseif commented on #55
This was fixed in #56. Closing now

[2016-10-18 08:22] #55 closed

[2016-10-19 04:02] MooYoo opened #58 "Carthage update"
Hi，i import the two in my project：
github "RxSwiftCommunity/RxAlamofire" "3.0.0-rc.1"
github "RxSwiftCommunity/RxDataSources" "1.0.0-rc.1"

and carthage update， but failed，log below：

Could not pick a version for github "ReactiveX/RxSwift", due to mutually incompatible requirements:
	"3.0.0-beta.1" (github "RxSwiftCommunity/RxAlamofire")
	"3.0.0-rc.1" (github "RxSwiftCommunity/RxDataSources")

i f

[2016-10-19 10:32] kzaher commented on #58
@MooYoo

[code]

[2016-10-20 02:00] MooYoo commented on #58
@kzaher   than you very much~

[2016-10-21 09:25] rusmichal opened #59 "dyld: Symbol not found"
Did I do something wrong with configuration?

http://stackoverflow.com/questions/40172231/ios-app-with-framework-crashed-on-device-dyld-symbol-not-found-xcode-8

[2016-10-22 08:16] #58 closed

[2016-10-27 08:27] kzaher commented on #59
Hi @rusmichal ,

could you please try with latest 3.0.0 release?

[2016-10-31 06:35] MarianPalkus opened #61 "Carthage build error"
Hi,
i tried to update RxAlamofire via carthage to the the latest release (3.0.0@swift-3) and got the following error:

The file _.xcodeproj references the file 'NSURLSession+RxAlamofire.swift' which seems to be renamed to 'URLSession+RxAlamofire.swift'.

Here is a PR which fixes the project file: https://github.com/RxSwiftCommunity/RxAlamofire/pull/60

[2016-11-02 11:51] minuscorp opened #62 "Manual validation gets overriden by ResultSerializer"
Greetings,

I'm facing an issue with the library when trying to `validate(responseCode 200<..501).rx.json()` It seems that the following function always overrides the previous validation done by the user... Is there anyway to bypass the validation done by `self.validateSuccessfulResponse()` when desired?

[code]
Code that reproduces the issue:
[code]

[2016-11-03 16:31] rusmichal commented on #59
I created new project and it works. thx

[2016-11-03 16:31] #59 closed

[2016-11-12 16:34] #61 closed

[2016-11-12 16:35] #57 closed

[2016-11-14 13:27] terietor commented on #57
Hello,

@kzaher sorry I have missed your question.
If a scheme exists in a project and in a workspace  then carthage will try to build it from the workspace. Also it doesn't matter if your workspace is in the root directory of the repository or not.

[2016-11-16 22:22] kzaher commented on #62
Hi @minuscorp ,

I think there is

[code]

that doesn't perform that check.

[2016-11-18 09:50] zeffon opened #63 "Please support iOS8"
RxAlamofire is very nice for RxSwift.
Today I know that Alamofire4.1 has support iOS8.0, maybe RxAlamofire supports iOS8 is more nice.
Thanks.

[2016-11-23 01:04] shams-ahmed commented on #63
Alamofire doing to drop iOS8 support in their next release, is there any reason now to maintain such code when it will be deprecated soon after?

[2016-11-23 09:06] sergdort commented on #63
Yeah, I believe nothing should force us to drop iOS 8
Because Alamofire supports iOS 9.0
@kzaher I can make changes and publish new pod spec today, if you don't see any issues with this

[2016-11-23 09:18] kzaher commented on #63
@sergdort If alamofire won't support iOS 8, then we can't either because package manager will complain.

[2016-11-23 09:19] kzaher commented on #63
I think we can now support it, but not sure can we in future.

[2016-11-23 09:30] sergdort commented on #63
Hm.. I see [here](https://github.com/Alamofire/Alamofire/blob/master/Alamofire.podspec#L11) and [here](https://github.com/Alamofire/Alamofire#requirements)
I think they won't drop iOS 8 at least in Alamofire 4.0, because this would be a breaking change :)

[2016-11-23 09:49] shams-ahmed commented on #63
sound good, alamofire milestone 4.3.0 doesn't mention it, i guess it impossible to say how long they would do so...

[2016-11-24 18:15] sergdort commented on #63
Hey guys, just published new version and pod spec should be fine now

[2016-11-24 18:15] #63 closed

[2016-11-27 13:20] ufosky opened #64 "Cartfile dependence version should update."
Update the version to support ios 8.0.

[2016-11-29 16:24] sergdort commented on #64
Hi, @ufosky. Could you please clarify what do you mean by `dependence version`?

[2016-11-30 17:15] Dekwin opened #65 "Uploading multipart data"
How to upload multipart data to the server using RxAlamofire?
Please, write an example.
[using Alamofire](http://stackoverflow.com/questions/26121827/uploading-file-with-parameters-using-alamofire)

[2016-12-02 07:16] ufosky commented on #64
Hi, @sergdort. The project deployment version is 9.0 and 10.0 like here: https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/_.xcodeproj/project.pbxproj#L403
. You can search with word `IPHONEOS_DEPLOYMENT_TARGET` , it makes the framework cannot be used in project which deployment version is 8.0.

[2016-12-02 07:25] LvJianfeng opened #66 "Dependent library can not specify the version?"

[2016-12-04 23:34] MilezHigh commented on #37
RxAlamofire on cocoa pods is not updated

[2016-12-05 12:01] #64 closed

[2016-12-09 09:02] nverinaud commented on #43
Same here using carthage...

[2016-12-09 09:16] nverinaud commented on #43
It seems to be fixed in master branch. Waiting for a `3.0.3` tag and release 😬

[2016-12-16 20:46] tosbaha opened #68 "How to add retry logic"
Hi, I am trying to add retry logic but I can't make it work. `retry(3)` is ignored in the get function. However if I try to add retry outside of class it works. I will appreciate if you can help me solve this problem. I think also adding documentation for retry logic can be super helpful. Thanks.

[code]

[2016-12-29 17:24] titoaesj commented on #31
I have the same problem

[2016-12-29 21:43] sergdort commented on #31
Are you guys sure that it's not Alamofire problem?

[2017-01-02 20:33] andreaantonioni commented on #29
Sorry guys, now how can I get the json when an error occurs?

[2017-01-03 13:17] titoaesj commented on #31
I think not @sergdort, the problem and the lack of support of RXAlamofire, I will use the Alamofire to solve my problem.

[2017-01-03 13:21] freak4pc commented on #31
You need to set up a custom NSURLSessionConfiguration on your own AlamofireManager.

Swift 3 ex:
[code]

This isn't a RxAlamofire issue, I agree with @sergdort. Probably something underlying since I dont notice any piece of code in RxAlamofire that affects the timeout.

[2017-01-03 13:30] freak4pc commented on #31
Uhm I actually just realized it's always using the default session manager if I'm not mistaken.

https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/Sources/RxAlamofire.swift#L78

@bontoJR perhaps it would be beneficial to allow setting a custom SessionManager for such purposes ?

[2017-01-03 17:21] sergdort commented on #31
Guys, the test from of @SeongBrave has nothing to do with Rx..
I mean if this code does not respect timeout then it's not our scope of RxAlamofire:
[code]

[2017-01-03 17:22] sergdort commented on #31
@freak4pc what do you mean by setting custom `SessionManager` ?

[2017-01-03 17:26] sergdort commented on #31
@freak4pc There is an option of using `rx` extension methods on any instance of [`SessionManager` ](https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/RxAlamofire/RxAlamofire-iOS-Example/MasterViewController.swift#L155)

[2017-01-03 17:32] freak4pc commented on #31
@sergdort oh sorry didn't notice it was just helper methods ... not focused today ;-)

[2017-01-03 19:28] andreaantonioni commented on #65
I've got the same problem

[2017-01-05 08:30] tkunzema commented on #43
Still present in january 2017 ...

[2017-01-10 02:45] ened commented on #43
The root cause may happen because Alamofires swift3 branch switched to a 9.0 minimum deployment target while RxAlamofire is still on 8.0?

[2017-01-13 05:29] fodderkonoko commented on #31
exactly as @sergdort mentioned,
SessionManager is made Reactive in the RxAlamofire.
Therefore create your own SessionManager and then call the **rx** on it to make it reactive. Something like
`let sessionManager: SessionManager = {
            let configuration = URLSessionConfiguration.default
            configuration.httpAdditionalHeaders = SessionManager.defaultHTTPHeaders
            return S

[2017-01-14 20:37] kzaher commented on #48
Hi guys,

@sergdort  I believe it's being used because `Progress` is a mutable object which is against element guidelines.

We'll also need to improve our RxAlamofire wrapper to not use `Request` object, but a immutable wrapper.

I still haven't find time to make those changes :(, but I'm planning to fix those issues since I believe it's causing problems understanding how RxAlamofire works.

[2017-01-14 20:38] kzaher commented on #68
Hm,

I think this should work, weird.

[2017-01-15 10:41] tosbaha commented on #68
I really don't know the reason but below code also works

[code]

[2017-01-18 07:13] dustin-graham opened #72 "non 200 responses do not result in RxSwift onError events."
When I get a 401 back from my server, my RxAlamofire calls run as if the request was successful. I can see that I get a 401 in the response but it still wants me to process the response in the same location where I'm anticipating parsing my JSON. Is this by design or do I have something misconfigured?

[code]

When I subscribe I get a `.next` event which gives me an empty result in my case because

[2017-01-24 13:02] turekj commented on #72
When using `responseJSON` (and other `responseXXX`) method the status code is not validated by design. This is consistent with Alamofire approach:

However, you can still use the `json` method which validates the response prior it is forwarded to your observer:

[code]

This will print out:

[code]

Hope it helps :)

[2017-01-26 22:30] ajandrade opened #74 "Making a request with only the url as argument doesn't work"
Hi guys,

I'm trying to implement a router like described on Alamofire documentation (CRUD & Auth section).

After going through RxAlamofire code I found this:
`public func request(urlRequest: URLRequestConvertible) -> RxSwift.Observable<Alamofire.DataRequest>`
but I can't use it because it gives me the following error: "Missing argument for parameter #2 in call".

[2017-02-13 16:39] WesleyHilhorst opened #75 "Completion handler will result in an observable that is always on the main thread"
`mySessionManager.rx.download` does not have any option to set a custom queue. This results in the completionHandler to be called on the main thread. This might give unexpected results when chaining.

[2017-03-09 08:36] gaplo917 opened #76 "Support for Alamofire Statistical Metrics?"
From Alamofire documentation, `DataResponse` provided a lot of useful information.

### Statistical Metrics

#### Timeline

Alamofire collects timings throughout the lifecycle of a `Request` and creates a `Timeline` object exposed as a property on all response types.

[code]

The above reports the following `Timeline` info:

- `Latency`: 0.428 seconds
- `Request Duration`: 0.428 seconds
- `Seriali

[2017-03-10 16:15] d370urn3ur commented on #29
I ended up cloning the extension function and passing in a custom error that takes the result code + body data.  It is very specific for my use case (only using the `json()` func to make my request) and I had to override several other extension functions to be able to direct the request to use my custom response handler, but it might be useful for someone who is working on a pull request :

- I cu

[2017-03-10 21:18] sergdort commented on #76
Currently we don't have a this option. I believe what you want is method that would return `Observable<DataResponse>` right?

[2017-03-11 04:56] gaplo917 commented on #76
@sergdort exactly! My project needs to time the API later... It would be super nice if RxAlamofire can return Observale<DataResponse> that include all useful meta data.

[2017-03-11 15:42] WesleyHilhorst commented on #75
It will always return to the main thread because thats how RxAlamofire works. So I could force the process to go back to a background thread. Its just that the context switch which is happening is something I would like to prevent from happening.

In general its just unexpected behavior. Simply because Rx is controlling what thread the observable is running on with for example the observeOn method

[2017-03-29 09:39] Chhuon commented on #75
Hello

[2017-04-05 14:09] joshfriend opened #77 "Use new `Single` unit from RxSwift 3.3"
RxSwift 3.3 added a new `Single` trait (formerly called "unit"):

[Docs](https://github.com/ReactiveX/RxSwift/blob/master/Documentation/Traits.md#single)

As mentioned in RxSwift docs, HTTP requests fit this model extremely well.

[2017-04-05 14:25] freak4pc commented on #77
Sounds like a good idea. Only situation to consider is if you'd want to have a replay behaviour but in that case you can always do `asObservable`, so I assume it would fit more cases in general.

Another issues with this is it would probably have to be an additional/alternative implementation and not a substitution to avoid breaking changes to people using the Observable variant.

[2017-04-05 14:42] joshfriend commented on #77
What do you think about this strategy?

* Convert existing API to returning `Single`
* Shim the `Single` returning APIs to return `Observable` to keep existing API surface intact
* Marking `Observable` returning shim APIs as deprecated
* Remove `Observable` shims in a later release

[2017-04-05 14:43] freak4pc commented on #77
My thought was the first 2, but is there a good reason to remove Observable(s) at all? If someone wants them he can just use them.

[2017-04-05 14:47] sergdort commented on #77
Also don't forget that that not all HTTP requests are have single response. there is also `text/event-stream`

[2017-04-05 15:09] joshfriend commented on #77
My thought was that if it's already easy enough to call `asObservable` on a `Single`, removing those `Observable` APIs would make it easier to maintain this library in the future since you wouldn't have to maintain essentially 2 nearly identical copies of most API functions. I suppose the same thing could also apply to calling `asSingle` on an `Observable`, but if the `Single` trait makes the most

[2017-04-05 15:10] freak4pc commented on #77
If you don't end up working on this LMK, I wouldn't mind handling as well :) @joshfriend

Good luck!

[2017-04-06 14:02] joshfriend commented on #77
I came to an unfortunate realization last night. Swift allows overloading methods that differ only in return type:

[code]

However, when you try to use one of those functions, you get a compile error "Type of expression is ambiguous without more context" or something similar. You need to cast or hint the type of the desired return value somehow:

[code]

Thus, adding a parallel APIs returning `Si

[2017-04-06 14:29] freak4pc commented on #77
Yeah I kinda had that thought yesterday as well. This is kind of a problem, I don't have a good thought about it yet but I have a couple of questions we need to answer :

* Will we eventually want to make Single<T> the main response type instead of Observable<T> ?
* If so, when? This would be a breaking change probably so it needs to be on a major version.
* Also, should we rename the old Observab

[2017-04-08 18:25] kzaher commented on #77
Hi guys,

I think the simplest solution would be to create a new majore version of RxAlamofire that uses `Single` when appropriate.

[2017-04-17 03:48] simoami commented on #76
@sergdort Any workaround for this? I have a different use case. The backend error message contains a key which is needed to identify what causes a validation error. http code is 400 but it's not enough. The error key provides additional details for a signup function, examples can be invalid_password, or email_already_exists.

[2017-04-19 11:49] victory1908 opened #78 "RxAlamofire cannot use with URLRequest"
I'm using `RxAlamofire` to create my `observable`. I have build the `URLRequest`. normally with `Alamofire` we can use like `Alamofire.request(urlRequest)` but seem with `RxAlamofire` i can not use `RxAlamofire.requet(urlRequest)`

Here is my function

    func createOrUpdateItem(for id: NSNumber) -> Observable<Item> {

            let testRequest = Router.top.urlRequest

            let test = Rx

[2017-05-04 17:44] freak4pc commented on #78
Seems like @kzaher merged this PR adding support for URLRequestConvertible: https://github.com/RxSwiftCommunity/RxAlamofire/pull/69/files

Would that help ? @victory1908

[2017-05-04 18:13] freak4pc commented on #77
Marking this as enhancement for now but I still think like this would need some more thought to make sure API still feels consistent and doesn't break too many things :)

[2017-05-04 19:14] freak4pc commented on #76
I'm not 100% in-the-know of the structure of RxAlamofire but if you need a workaround, a simple wrapper function would assist here.

Something like this would work @gaplo917 @simoami
If I'll have some time I can look into how to add this into RxAlamofire after I learn the code there a bit :)

[code]

[2017-05-04 19:56] freak4pc commented on #76
I added code to allow this directly from RxAlamofire but
1. I'm not sure of the naming (`requestJSONData`, as to indicate it returns a DataResponse)
2. I don't know Alamofire well enough to say if this is intuitive. Could anyone weigh in ? @kzaher

<img width="1140" alt="4e0002d3-bc93-46a1-b218-a78a3859b016" src="https://cloud.githubusercontent.com/assets/605076/25722419/d55793ea-311c-11e7-8d7a-2e

[2017-05-04 19:58] freak4pc commented on #75
@WesleyHilhorst AFAIK the point of Rx is to be a centralized method for controlling flow.
Dispatching tasks into queues (GCD/DispatchQueue) is wrapped in Rx so you don't need to think about it. Why does switching to a background scheduler not a viable solution for you?

[2017-05-04 20:43] kzaher commented on #76
@freak4pc maybe just `RxAlamofire.dataResponse`? ¯\\\_(ツ)\_/¯

[2017-05-04 20:45] freak4pc commented on #76
@kzaher It comes specifically from responseJSON e.g.
[code]

and also the naming convention across seems to be that
requestJSON returns a result, so that might be a confusing naming convention ?

Might need to have other overloads for raw data etc but the basic use case here is JSON response

[2017-05-04 21:15] kzaher commented on #76
@freak4pc I think  `****response****JSON****` might make sense since the original method is `responseJSON`. Somebody who is in the "zone" should figure out what it should exactly be :)

[2017-05-04 21:21] freak4pc commented on #76
Yup thats why I tagged @sergdort who is definitely more active than me on this :) Using the library and maintaining, that is.

I'm also in favor of `responseJSON` but that gets "requestJSON" to not make much sense :)

The original responseJSON method is for a request() method.
Having similar syntax to Alamofire here would be nice but its not consistent with RxAlamofire right now so I'm not sure th

[2017-05-04 21:31] freak4pc commented on #76
This is actually probably the nicest syntax for this, I reckon.
Thoughts? @kzaher @sergdort

<img width="1132" alt="5ea7ed60-768e-4f49-8957-ea8c1a189c79" src="https://cloud.githubusercontent.com/assets/605076/25725805/358dd2bc-312a-11e7-8321-f5e310515c2b.png">

I think it feels very nice and natural (also similar to how non-Rx Alamofire works), I'm comfortable with pushing a PR for it.

[2017-05-04 21:38] simoami commented on #76
@freak4pc @kzaher
not sure how relevant this is or if there's a simpler way but I worked around my use case, that is to fetch the error message and other attributes from the response:

[code]

[2017-05-04 21:40] freak4pc commented on #76
Thanks @simoami for sharing!
While that works well specifically for your case, the original question was about exposing the DataResponse object that currently has no good method of being accessed. I'm glad you were able to resolve your issue but it doesn't exactly relate to the original question. Also, with having the new syntax you could easily just access the DataResponse object which might redu

[2017-05-04 21:45] simoami commented on #76
@freak4pc I'm aware of the difference to the original question, which is why I keep referring to mine as a specific "use case" for fetching response data. btw, mind pointing me to the new syntax? I didn't check is a new update was published to make the response accessible. would love to incorporate!

[2017-05-04 21:47] freak4pc commented on #76
Hey @simoami - Take a look here, I just pushed a PR explaining my thoughts on how to expose DataResponse. I'd love your feedback if it makes sense to you as an active user!

[2017-05-04 22:01] simoami commented on #76
Nice, great. It definitely look more like an easier interface. Will it also get onNext with other http status codes? say 401 or 500?

[2017-05-04 22:09] freak4pc commented on #76
I haven't tested but I don't believe so? Alamofire works with throws. If an error is thrown it would be pushed as an onError event.

[2017-05-23 18:00] scoreyou commented on #43
Still present :(

[2017-05-25 19:00] freak4pc commented on #76
Fixed by #79

[2017-05-25 19:00] #76 closed

[2017-05-25 19:01] freak4pc commented on #78
@victory1908 Closing this for now as there hasn't been a response for 3 weeks.
If this issue is still a problem please re-open or open a new issue.

Cheers! 🍺

[2017-05-25 19:01] #78 closed

[2017-05-25 19:07] simoami commented on #76
Thanks @freak4pc.

[2017-05-25 19:25] freak4pc commented on #68
Hey @tosbaha
I'm sorry for the 4 month late reply here but I'm trying to help clean up the issue backlog ;)

The reason here is that RxAlamofire.request doesn't return an error for non-200 HTTP codes. I would argue this is a wrong approach, but this is following the same design as Alamofire itself.

Using SessionManager.rx.json would fire an error for a failed request.

See here: https://github.co

[2017-05-25 19:25] #68 closed

[2017-05-25 19:26] #72 closed

[2017-05-25 19:26] #66 closed

[2017-05-25 19:45] freak4pc commented on #74
Hey @ajandrade
Seems to be working fine here.
Don't forget you have to add a responseJSON since you're getting back a DataRequest from this method.

<img width="631" alt="903fba4c-bc0e-4473-9e86-c21c3927af0f" src="https://cloud.githubusercontent.com/assets/605076/26467482/728b5f0a-419b-11e7-9f79-0c3e427b071f.png">

You would probably be better off using `RxAlamofire.request(.get, "http://google.co

[2017-05-25 19:45] #74 closed

[2017-05-25 19:46] #13 closed

[2017-05-25 19:46] #29 closed

[2017-05-25 19:46] #31 closed

[2017-05-25 19:46] #34 closed

[2017-05-25 19:46] #43 closed

[2017-05-25 19:46] #47 closed

[2017-05-25 19:46] #48 closed

[2017-05-25 19:46] #54 closed

[2017-05-25 19:46] #62 closed

[2017-05-25 19:46] #65 closed

[2017-05-25 20:51] tosbaha commented on #68
I am not good at math but I think it is 5 months :) Anyway, I moved to Moya since I felt this project wasn't maintained. Best regards.

[2017-05-25 20:59] freak4pc commented on #68
Yeah it said January and it's may and I haven rounded up ;)

[2017-05-25 21:13] Dekwin commented on #65
**Why my question was closed without answer?**

I wrote a solution for this issue :

[code]

[2017-05-25 21:22] freak4pc commented on #65
Hey @dekwin
I assumed it's not relevant since it's been over a half a year. Thanks for your solution.

[2017-05-25 21:34] Dekwin commented on #65
@freak4pc Oh, it can be a good feature for this framework. Because uploading files to server is so important for users.

[2017-05-26 07:08] freak4pc commented on #75
@WesleyHilhorst I just went through the download method you were referring to, It doesn't state any Scheduler/Thread to begin with. So again I'm confused as to why working on a different Scheduler be an issue here?

[2017-05-29 11:32] WesleyHilhorst commented on #75
I looked very quickly to whatever it was I meant at the time. I cannot find the code that was causing the context switch (at least in the current Alamofire/RxAlamofire combination).

If I recall correctly, the download method that RxAlamofire called within Alamofire had a completionhandler queue. RxAlamofire did not set this queue. This caused Alamofire to return back to the main thread.

[2017-05-29 12:19] freak4pc commented on #75
Is this still an issue right now? And if yes, do you have code to reproduce the issue ? Have you tried using observeOn / subscribeOn to change the work flow ?

[2017-05-29 12:24] WesleyHilhorst commented on #75
I have tried that. The issue with using observeOn / subscribeOn, is that a context switch still takes place. Which isn't really necessary. The idea of Rx is that internally, it doesn't change threads like that. Hence the unexpected behaviour.

If I have some more time, I will check if the issue is still an issue. Might be after WWDC though.

[2017-06-09 07:54] kizitonwose opened #81 "How do I use RxAlamofire with URLRequestConvertible?"
I am trying to use RxAlamofire with a URLRequestConvertible router enum. I can see that this feature was added in #69 but for some reason, the methods are not available for me to use, the ones I have all take a URLConvertible so I have to cast my URLRequestConvertible as URLConvertible.  Is this the right way to do this?

Edit: I'm also facing issue #78 the method in RxAlamofire which should take

[2017-06-12 18:53] freak4pc commented on #81
Hey @kizitonwose
Can you please provide a reproducible project or code sample causing the issue?

[2017-06-13 22:52] kizitonwose commented on #81
Hi @freak4pc
The sample code that reproduces this issue is now available [here](https://github.com/kizitonwose/rxalamofire-bug-sample)

[2017-06-13 22:56] freak4pc commented on #81
Sorry I just realized you are referring to URLRequestConvertible and not URLConvertible. It's currently not part of the code but I don't see why we can't add that.

[2017-06-13 23:01] kizitonwose commented on #81
But [this method](https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/Sources/RxAlamofire.swift#L94) seems to take a URLRequestConvertible as the only parameter.

[2017-06-13 23:08] freak4pc commented on #81
Yup, @kizitonwose you're absolutely correct.
This code is working but the issue is there was no new version created since so you're getting old code.

Let me see if I can fix this up real quick :)

[2017-06-13 23:11] freak4pc commented on #81
Ok @kizitonwose
Quickes fix is changing your `Podfile` to:
`pod 'RxAlamofire', :git => 'https://github.com/RxSwiftCommunity/RxAlamofire.git'`

@kzaher / @sergdort I'm not sure who has Pod access (I believe I don't) but a new version is needed ... the last one was over 6 months ago :)

[2017-06-13 23:30] kizitonwose commented on #81
@freak4pc Yes, that works. Thanks!
I want to close the issue but I'm guessing it would be better to keep it till a new version is released.

[2017-06-13 23:31] freak4pc commented on #81
Let's keep this open until the guys answer. Thanks for the cooperation @kizitonwose !

[2017-06-13 23:32] kizitonwose commented on #81
Alright.

[2017-06-16 13:51] philippelatulippe opened #82 "Setting response encoding"
For servers that do not specify their character-set in HTTP headers, how do I stop Alamofire from defaulting to latin-1?  In vanilla Alamofire, you can do:

    Alamofire.request(.GET, "http://example.com")
                .responseString(encoding: NSUTF8StringEncoding) { ... }

RxAlamofire's `responseString` doesn't seem to have this parameter?

[2017-06-16 15:19] philippelatulippe commented on #82
Whoops `responseString` totally does have that parameter, I overlooked it the first time around. Apologies for the spam!

[2017-06-16 15:19] #82 closed

[2017-06-19 23:27] sergdort commented on #81
Hey guys will try to find time tomorrow and publish new version

[2017-06-20 19:39] freak4pc commented on #81
Thanks @sergdort !

3.0.3 is out!
https://github.com/RxSwiftCommunity/RxAlamofire/tree/3.0.3

[2017-06-20 19:39] #81 closed

[2017-06-21 17:54] richy486 opened #83 "Unknown error RxAlamofireDomain when accessing bundle urls"
RxAlamofire returns the error RxAlamofireDomain when trying to access urls beginning with "file://"

This is because the `packedResponse.response` is nil when access these resources. But the `result` still has content.

It would be great if we could load `http` based resources as well as `file` resources for local testing, caching etc.

[2017-07-26 09:37] vzsg opened #84 "Encoding multipart form data"
There's an asynchronous function that the wrapper currently doesn't support: [multipart form uploads](https://github.com/Alamofire/Alamofire#uploading-multipart-form-data).

I wrote a short extension to rectify this for my project, which is available [here](https://gist.github.com/vzsg/b1a7405c987bdf18cc9035591ea2f58c).
The returned `Observable<UploadRequest>` can be then flatMapped into `rx.data(

[2017-07-26 09:42] freak4pc commented on #84
Hey @vzsg , Thanks for the code !
I think this is highly useful and I'd personally love to see it as a full-fledged PR.

The only thing I'm wondering on is if the naming of the method makes sense - Since we want to remain as close as possible to original Alamofire terms so it's easier to discover. So I would imagine this making more sense as some overload of `upload`. What do you think ?

[2017-07-26 09:50] vzsg commented on #84
I'm okay with changing the name to match the original. (Locally I went with the verbose name so others can clearly see that this is not the actual upload yet, but I don't have a preference.)

[2017-08-22 06:56] Bruce9487 opened #85 "How to refresh Token with RxAlamofire?"
I have a problem about token expired then I get error response.
So, I refresh the api token when I get error response and then how to recall api again?
I search for the refrsh token sample, and I find none about this information.
Have any idea to do this? Thanks.

https://stackoverflow.com/questions/46392868/how-to-refresh-api-authorization-token-using-alamofire-rxswift

[2017-08-22 08:56] freak4pc commented on #85
@Bruce9487 This doesn't sound like a RxAlamofire but something perhaps relating to your observable chain. You also didn't provide any code so it's pretty impossible to help this way.

[2017-08-29 08:17] KelvinJin opened #86 "How to run the json() method on Background thread."
So at the moment, the `public func json(options: JSONSerialization.ReadingOptions = default) -> RxSwift.Observable<Any>` defined in the `Reactive` extension will run on main thread only. How can I run it on background schedulers?

[2017-08-29 08:25] KelvinJin commented on #86
actually, never mind, I think I can just do `.result(queue: responseProcessingQueue, responseSerializer: DataRequest.jsonResponseSerializer())`

[2017-08-29 08:25] #86 closed

[2017-09-17 10:24] pak-amsiq opened #87 "Swift 4"
When can we expect Swift 4 support?

Thank you!

[2017-09-17 12:28] orta commented on #87
You're welcome to take a look at adding it yourself?

[2017-09-20 01:42] stellanor opened #88 "Upload progress doesn't update past initial state"
Hi, I haven't been able to get upload progress (based on this sample code) to work:

[code]

My `onNext` only fires once with the initial progress:
[code]

I notice that there was a `rx.progress()` extension added to `UploadRequest` in 09e02d99945fd7c46933729ea5df5e8402e575f2 but it was removed shortly thereafter in fa98bd027fb3c9dc9312d92e6025fbd6c8e3f8e7 . When I revert fa98bd027fb3c9dc9312d92e6

[2017-09-25 07:28] pchelnikov commented on #87
@orta please, check the PR [https://github.com/RxSwiftCommunity/RxAlamofire/pull/89](#89)

[2017-09-25 11:43] #87 closed

[2017-09-26 09:51] scoreyou opened #90 "Make a new release"
I can't specify rxAlamofire pod in my podspec as dependency via :branch and :commit, so please make a new release with XCode9 and swift4 support.

[2017-10-03 09:21] krin-san commented on #90
Why can't you use a branch instead tag? Actually it works good, but you have to define `:git` repo url too:
[code]
But yeah, would be nice to create a new "Pre-Release" tag.

[2017-10-03 09:32] scoreyou commented on #90
@krin-san it does not work when I try to define dependency in podspec (not podfile).

[2017-10-09 01:16] keyfun commented on #90
please add a tag for swift 4 support. Thanks.

[2017-10-10 20:52] sergdort commented on #90
🎉  Congrats

 🚀  RxAlamofire (4.0.0-rc.0) successfully published
 📅  October 10th, 21:46
 🌎  https://cocoapods.org/pods/RxAlamofire
 👍  Tell your friends!

I've pushed the spec :)

[2017-10-10 20:52] #90 closed

[2017-11-24 17:17] nija78 opened #93 "responses do not result in RxSwift onError events."
When i ha a code 200 the func retun my json, but if i have an error ex 403 the filter don't print the statuscode and the map not call
[code]
I call this function like this :

[code]

how i can get the error code for return of other function ?
Thanks.

[2017-11-28 15:52] mbopp opened #94 "Is it possible to use this library with Swift 3.2?"
Using Carthage.  Would like to avoid moving to Swift 4 for now if possible.  Or is it a lost cause?

[2017-12-11 06:24] Bruce9487 opened #95 "How to cancel previous request using RxAlamofire?"
I want to cancel the previous request using RxAlamofire.
But I don't know where to call the cancel function.
I have a searchBar, and I call the API in function "textdidchange".
So, I want to cancel the previous request and call the API with new parameters.
Have any suggestion to help me?
Thanks.

[https://stackoverflow.com/questions/47746033/how-to-cancel-previous-request-using-rxalamofire](url)

[2017-12-11 10:41] freak4pc commented on #95
You would use `flatMapLatest`.
It would dispose (thereby cancelling) any pending requests and make a new one from the **latest** emitted observable in the chain.

This isn't Alamofire specific. Please read the official documentation, and also this might be a good resource: https://www.raywenderlich.com/158205/rxswift-transforming-operators

Good luck!

[2017-12-11 10:41] #95 closed

[2017-12-13 13:26] kongxiangjia305 opened #96 "when i post application/json parameters, it return nil."
when i post application/json parameters, it return nil.

[2017-12-13 13:36] freak4pc commented on #96
This is not a very useful issue :)
Please attach some code, explanation, etc.

[2017-12-13 13:40] kongxiangjia305 commented on #96
https://www.dropbox.com/s/6s7crui8zbibami/uploading.png?dl=0

[2017-12-13 13:40] kongxiangjia305 commented on #96
pls check this url. it is postman's example

[2017-12-13 13:40] kongxiangjia305 commented on #96
when i use the api, it return nil in app

[2017-12-13 13:41] freak4pc commented on #96
We won't be able to help without reproducible code, probably

[2017-12-13 13:43] kongxiangjia305 commented on #96
return manager.rx.responseData(.post, url, parameters: params, encoding: JSONEncoding.default, headers: [“Content-Type”: “application/json”])
            .map{
                let request = $0
                print(request)
                print(String(data: $1, encoding: .utf8))
                return JSON(data: $1)
        }

[2017-12-13 13:47] freak4pc commented on #96
Hey @kongxiangjia305
This seems to be an issue with your code, and not with the library.
We try to have issues opened mainly for library-specific issues.

When I use your URL with just a Content-Type header, it fails as well. Please do notice your Postman request has 7 different headers, so maybe authentication is what you're missing.

If you have any usage-specific questions, please check out the

[2017-12-13 13:47] #96 closed

[2017-12-13 13:59] mobilestar0223 commented on #96
Hi
I'm @kongxiangjia305's partner and I have same issue.
I have tried with that API and I set Content-Type to "application/json", but it always return nil.
I also have tried with other content-type, but always got same error.

I have checked `print(request)` log and I got idea that request header's content-type was "text/html" even I set to application/json.
It seems setting content-type header do

[2017-12-13 14:11] freak4pc commented on #96
As I said, this is not a problem with application/json, it has to be a problem with some authentication headers, etc.

I've used your exact code in a test project on both GET and POST and i'm getting valid JSON.

GET:
![8e5ec29e-4424-45da-9aa8-051b63bfae2b](https://user-images.githubusercontent.com/605076/33942907-1a32fd62-e020-11e7-9648-794bf0b25f26.png)

POST:
![d1ff022e-7d6e-41eb-ae6e-27bd11f41

[2017-12-13 14:17] mobilestar0223 commented on #96
I have attached screenshot and please check my code and printed result.
![screen shot 2017-12-13 at 10 16 49 pm](https://user-images.githubusercontent.com/18617203/33943215-6ccad184-e053-11e7-8a21-0d828165b36b.png)

[2017-12-13 14:19] freak4pc commented on #96
Hey @mobilestar0223
Sorry, I have to stress this out - It's impossible for Contributors to spend time on code-level issues. We can't support development efforts of other developers or companies :)

If this was a reproduced bug, I would definitely love to look into it and fix it inside RxAlamofire, but since this is specific to your code base, I suggest you ask the question on our Slack channel.

[2018-02-05 08:31] sam0829 opened #100 "Use of unresolved identifier 'JSONEncoding' Swift 4 [POST Request]"
Hello, I am trying to do a POST request with RxAlamofire but I get an error here. I didn't find any POST example in the sample even. I am doing following:

[code]
But I get an error saying Use of unresolved identifier 'JSONEncoding' Swift 4. Please let me know how can I do POST request?

[2018-02-05 14:30] sunshinejr commented on #100
@sam0829 Did you import `Alamofire` at the top of your file? If that's correct, please post your `Podfile.lock` here.

[2018-02-05 14:31] freak4pc commented on #100
Encoding is of type `URLEncoding`, not `JSONEncoding` : https://github.com/RxSwiftCommunity/RxAlamofire/blob/c2fdccf8058d1a61f5fbb540054c21372de1151d/Sources/RxAlamofire.swift#L248

[2018-02-05 14:41] sunshinejr commented on #100
@freak4pc `URLEncoding.default` is just the default argument. As far as I remember`JSONEncoding.default` is a valid argument as it should implement `ParameterEncoding` as well.

[2018-02-06 07:05] tinblanc commented on #88
me too, help plz!

[2018-02-06 11:06] freak4pc commented on #88
@stellanor @tinblanc Sorry for taking so long to respond. Would you mind trying the fix from here and let me know if it helps?

https://github.com/RxSwiftCommunity/RxAlamofire/pull/101

[2018-02-07 14:19] freak4pc commented on #88
Fixed by #101

[2018-02-07 14:19] #88 closed

[2018-02-09 06:26] sam0829 commented on #100
Yes, importing `Alamofire` solved the error. Sorry I am pretty new in iOS development & didn't knew JSONEncoding was part of the Alamofire. Thanks for quick reply & btw I had to use `URLEncoding.default` because if I use `JSONEncoding.default`, API was not getting the parameters I passed, but when I used `URLEncoding.default`, API was happy.

[2018-02-09 06:26] #100 closed

[2018-02-18 08:43] nverinaud commented on #93
`filter` allows you to **ignore** invalid status code. (Full explanation [here](http://reactivex.io/documentation/operators/filter.html))
Your `map` is not invoked because of this.

I think what you are looking for is `flatMap` to transform an invalid status code into an error.

Here is what I would do instead :
[code]

[2018-02-18 08:46] nverinaud commented on #93
With changes provided by PR #103 you might write :
[code]

[2018-02-19 01:56] 1ckola opened #104 "build error iOS 11"
Does RxAlamofire support iOS 11 build ?

Getting attached error on build
<img width="862" alt="screen shot 2018-02-18 at 5 55 47 pm" src="https://user-images.githubusercontent.com/16364754/36359987-ffd2235a-14d4-11e8-82ef-d7e81dc38d29.png">

[2018-02-19 09:29] freak4pc commented on #104
@1ckola I'm not seeing any issue on my end. Any chance you can pack this issue in a reproducible project so I can take a look?

<img width="854" alt="8ff2a749-8f11-4b6c-9766-a3a5cbefa817" src="https://user-images.githubusercontent.com/605076/36370643-1b9f1e7e-1568-11e8-9a6d-d44e2217fdb4.png">

[2018-02-19 14:42] bobgodwinx commented on #104
@1ckola `.next` take one argument as parameter so if you wrap it into a tuple that should be fine just like @freak4pc did on line `776`

[2018-02-19 14:43] freak4pc commented on #104
@bobgodwinx It's part of the library code, not his own. That's why I'm not sure why its not compiling for him.

[2018-02-19 23:30] 1ckola commented on #104
Thank you very much, wrapping it into a tuple worked

[2018-02-20 06:41] #104 closed

[2018-02-26 12:02] jesusmfdez opened #106 "- noManifest - Updating library with Package Manager"
I've this issue when I am trying to configure RxAlamofire in Package Manager:

**error: noManifest(baseURL: "https://github.com/RxSwiftCommunity/RxAlamofire.git", version: Optional("4.0.0"))**

I was taking a look the issues and this  #102 says that RxAlamofire supports Package Manager.

Thank you in advance, regards!

[2018-02-26 12:24] freak4pc commented on #106
There was an issue fixed yesterday in #105
Can you confirm if the issue still occurs for you ?

[2018-02-26 13:08] jesusmfdez commented on #106
Thank you for answer fastly.

I took a look this issue, but yes... I continue getting the same problem.

I removed other libraries to avoid conflict problems or something like that. I paste here a couple of screenshot for if it's helpful for you.

**Thank you so much again**!

![captura de pantalla 2018-02-26 a las 14 01 53](https://user-images.githubusercontent.com/9450348/36672051-2b8fcaf4-1afe-

[2018-02-26 21:05] freak4pc commented on #106
I'll probably have to push a new tag out. I'll take care of this soon, leaving this issue open so I don't forget :)

[2018-02-26 22:51] freak4pc commented on #106
@jesusmfdez Can you try again please?

[2018-02-27 06:22] jesusmfdez commented on #106
It's working now!!
Thank you @freak4pc

[2018-02-27 12:02] freak4pc commented on #106
Glad to hear :)

[2018-02-27 12:02] #106 closed

[2018-03-13 20:42] tatimagdalena opened #107 "Json response as Data"
Hi!
When requesting a JSON, is there any way I can get the json as a Data object, instead of a dictionary?
Alamofire does so, and it is better to work with Data when using Codable protocol.

[2018-03-13 20:44] freak4pc commented on #107
Hey @tatimagdalena, You can use `responseData()` :)
https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/Sources/RxAlamofire.swift#L759

[2018-03-13 20:44] #107 closed

[2018-03-16 13:52] comm1x commented on #65
I'm surprised there is no multipart support. Up!

[2018-03-16 17:30] sunshinejr commented on #65
I agree that it could be a beneficial addition to the library. Maybe we could keep this issue open and see if someone can make a PR with this one, @freak4pc?

[2018-03-16 17:32] freak4pc commented on #65
Sure, let's make a new issue about this with proper information if possible, expected syntax, etc. and lets open a discussion there.

This issue is very old so I prefer to open a fresh one :)

Thanks for understanding !

[2018-03-25 19:22] abdullahnkhan opened #108 "App in Simulator Crashes : Library Load Issue"
I apologize in advance if this isn't the correct forum. However, the problem started happening once I upgraded to Xcode 9.3. I have tried various solutions from Stackoverflow in similar situations associated to for instance Alamofire. None seem to work thus far.

I am using Cocoapods 1.5 to integrate RxAlamofire (4.1.0).

If I remove RxAlamofire from the app then all seems to work just fine. Any p

[2018-03-25 19:23] #108 closed, assigned to nobody

[2018-03-25 20:01] freak4pc commented on #94
Just closing issues here, sorry for the delay but there is no issue with using Carthage with a 3.2 version.

3.0.3 should be the latest Swift 3 release. https://github.com/RxSwiftCommunity/RxAlamofire/tree/3.0.3

[2018-03-25 20:01] #94 closed

[2018-03-25 20:02] freak4pc commented on #93
No response from OP in a long time.

[2018-03-25 20:02] #93 closed

[2018-03-25 20:02] freak4pc commented on #85
OP didn't provide response in a long time.

[2018-03-25 20:02] #85 closed

[2018-03-25 20:02] freak4pc commented on #84
Sorry for the uber-delay on replying here. Was this ever addresses or this feature is still needed?

[2018-03-25 22:12] vzsg commented on #84
Well, I'm still using my extension in production, and it didn't magically appear in this repo, so yeah, I think this is still on. :) All that's missing is a nice name for the new function.

[2018-03-27 07:23] ArnabHore opened #109 "non 2xx responses are not getting HTTPURLResponse status code."
When I get 2xx response from server it is able to detect the HTTPURLResponse status code and print it. But other than 2xx, it is not able to print the status code.

Here is the code where I am trying to print the status code:

[code]

This is the function in my `ViewController` from where I am starting the api call:

[code]

And this is `book` function in `BookingService.swift`:

[code]

I have tr

[2018-04-03 10:52] TobiasRe opened #110 "DownloadRequest is missing progress observable."
The progress observable was removed from `DownloadRequest` in release 4.1.0

This is the commit causing the issue:
[Unify Upload & Download progress handling](https://github.com/RxSwiftCommunity/RxAlamofire/commit/c4c4c13c12ef25a24b5eb51feaca108621133dcc)

We should bring the progress back.

[2018-04-03 10:54] freak4pc commented on #110
Hey @TobiasRe. I committed that code.

`progress()` now lives in `DataRequest` - and `DownloadRequest` extends `DataRequest`.

For that reason, progress() is available on `DownloadRequest` and `UploadRequest` using that code. Are you seeing different results?

[2018-04-03 11:00] TobiasRe commented on #110
Thanks for the quick response @freak4pc!

I checked that and in Alamofire 4.7.1 `DownloadRequest` inherits from `Request`

[open class DownloadRequest: Request](https://github.com/Alamofire/Alamofire/blob/10323991876208d196c6d1bf91beeb2ec4383b27/Source/Request.swift#L423)

Which Alamofire version are you using?

[2018-04-03 11:02] freak4pc commented on #110
@TobiasRe uhm that's interesting :)
Luckily, though, `DataRequest` is actually a `Request` itself: https://github.com/Alamofire/Alamofire/blob/10323991876208d196c6d1bf91beeb2ec4383b27/Source/Request.swift#L356

We might be able to just get away with changing the base to Request but I'm not sure off the top of my head. would you mind trying on your local code?

[2018-04-03 11:16] freak4pc commented on #110
Can you try this branch : https://github.com/RxSwiftCommunity/RxAlamofire/tree/fix/unified-progress

@TobiasRe

[2018-04-03 11:34] TobiasRe commented on #110
You're fast!

Build was successful!
Looking forward to a new release. :)

[2018-04-03 12:50] #110 closed

[2018-04-03 13:31] freak4pc commented on #110
Fixed in 4.2.0

[2018-04-04 14:35] foxware00 opened #112 "204 - No content causing serialization crashes"
I have an issue when I receive a 204 with no content. The same endpoint can return 200 with content and all the appropriate errors. So I validate `request.validate(statusCode: 200..<300).rx.responseData()` however when I get a 204 it crashes. This is still a valid case and should go to `onNext`. Is there anyway I can achieve this or am I missing something?

I get the following error -
`dataCorrupt

[2018-04-04 14:36] freak4pc commented on #112
Hey @foxware00 - Can you provide a reproducible project? I'd love to take a look for you.

[2018-04-04 15:02] foxware00 commented on #112
I'm trying to come up with way to use any object type in the response. I don't think my solution is quite thorough enough. I can probably adjust my interface to allow optional responses. Or I guess a wrapper like a tuple Result<Code, T?> 🤔

Either way this is how I make a request. It's designed to be as generic as possible so I can serialized whichever objects I want. I can obviously handle if `js

[2018-04-04 15:04] freak4pc commented on #112
Hey, sorry off I wasn't obvious :)
My point was - If you could provide a demo Xcode project I can run to get the crash your experiencing, that would highly help in resolving your issue. I want to make sure the crash is indeed RxAlamofire related and not related to your own code base.

Thanks !

[2018-04-04 15:47] foxware00 commented on #112
Sorry, i've confirmed it was a problem on my side. I've gone with down the route of wrapping the optional type in a `Result<Code, T?>` for these cases

[2018-04-04 15:47] #112 closed

[2018-04-04 15:47] freak4pc commented on #112
No worries. thanks !

[2018-04-04 15:48] freak4pc commented on #84
How do you call it in your extension ?

[2018-04-08 17:39] vzsg commented on #84
I made the PR using Alamofire's naming and part of their documentation.
Please review if you have the time.

[2018-04-19 17:49] fmaylinch commented on #29
Can this be done now without hacking?

[2018-05-16 08:11] nija78 opened #117 "Multiple Memory leak"
![screen shot 2018-05-16 at 10 08 20](https://user-images.githubusercontent.com/17722719/40104654-3548f8aa-58f1-11e8-8b78-633e8c646c99.png)
![screen shot 2018-05-16 at 10 08 07](https://user-images.githubusercontent.com/17722719/40104655-356246c0-58f1-11e8-82e1-b2e364f8d365.png)
![screen shot 2018-05-16 at 10 07 26](https://user-images.githubusercontent.com/17722719/40104656-357a03d2-58f1-11e8-878

[2018-05-16 12:05] freak4pc commented on #117
Hey @nija78

Can you validate this isn't an issue with Alamofire itself?

[2018-05-17 12:55] #117 closed

[2018-06-17 12:27] munirwanis opened #118 "Xcode 10 Compatibility"
The project does not work with Xcode 10, it looks like it's a problem with RxCocoa, the Cartfile is also using a old version of Alamofire and RxSwift.

[2018-06-17 14:00] freak4pc commented on #118
Hey @munirwanis - We usually don't bump dependencies to such early builds of Xcode (but closer to GM) as it requires a lot of work and its easier than chasing a moving target.

I believe there's a `Xcode10` branch on RxCocoa if you'd like to try that.

Shai

[2018-07-19 10:24] duyanpham opened #119 "Please tell me how to set time out for request?"

[2018-07-19 10:43] freak4pc commented on #119
@duyanpham This is an Alamofire question, not an RxAlamofire question.

[2018-07-19 10:43] #119 closed

[2018-07-19 10:43] #118 closed

[2018-07-19 10:50] duyanpham commented on #119
I used all the ways to set time out of Alamofire, but It 's not work.

[2018-07-19 10:58] freak4pc commented on #119
Does it work in Alamofire itself, but not in RxAlamofire ?
If it doesn't work well in Alamofire you should open an issue in there repo, as this is only a Reactive wrapper for it.

[2018-08-20 11:55] brunoescalona opened #120 "POST binary data"
I would like to post binary data through RxAlamofire but after some days of research and tries, I'm not able to do it.

Here you can find the POSTMAN example of the request that I am trying to reproduce with RxAlamofire:

![captura de pantalla 2018-08-20 a las 13 42 36](https://user-images.githubusercontent.com/23025266/44338744-3b731600-a47f-11e8-8f50-4c1ef8f91202.png)
![captura de pantalla 2018-

[2018-08-23 12:48] brunoescalona commented on #120
Hi @freak4pc
I could achieve the behaviour that I wanted with the following function:
[code]
Where `ContentUri` is just a class to parse the response

The problem is that I would like to implement the same function `func upload(media: Data) -> Observable<ContentUri>` but with RxAlamofrie.

Thanks for your help

[2018-08-23 12:55] freak4pc commented on #120
Seems like this issue wasn't related to RxAlamofire to begin with:)
It's usually better to read the official Alamofire documentation since this repo is merely a tiny wrapper around it. Glad you got your issue worked out!

[2018-08-23 12:55] #120 closed

[2018-09-05 02:55] inft opened #121 "Why not call SessionDelegate:didReceive challenge"
[code]

[2018-09-05 04:32] #121 closed

[2018-09-18 15:05] piotrbcz opened #123 "Build failed in iOS 12"
While building the "RxAlamofire-iOS" by Cathage, it's failed as "Task failed with exit code 65: ..."

[2018-09-19 06:27] NeverwinterMoon opened #124 "Support Xcode 10.0 and Swift 4.2"
RxSwift moved to 4.3.0 with that support, I would love to see RxAlamofire follow suit.

[2018-09-20 03:03] red282 commented on #123
I guess there is an issue with tvOS target. When I build with a `--platform iOS` option, it fails with an error message that both tvOS and iOS do something. But when I use a `--platform tvOS` option, there is no error.

[2018-09-20 03:38] piotrbcz commented on #123
I'm using this framework on iOS project, but when I tried to use this framework with Carthage, the build was failed.

[2018-09-20 03:38] piotrbcz commented on #123
It worked well on iOS 11.4, but after update iOS, it was failed.

[2018-09-20 04:01] red282 commented on #123
If urgent, you can use my forked repository. In `Cartfile`, change the `RxAlamofire` repository to `red282/RxAlamofire` and use `xcode-10` branch. For example,

- as-is
  - `github "RxSwiftCommunity/RxAlamofire"` ~> 4.2
- to-be
  - `github "red282/RxAlamofire" "xcode-10"`

This is a temporary expedient. I believe that someone will fix this issue :)

[2018-09-20 05:56] gumob commented on #123
@red282 It worked on Xcode 12 and iOS12. 👍

[2018-09-20 10:44] Drusy commented on #124
Carthage build is also failing, this issue seems to be resolved for RxDataSources: https://github.com/RxSwiftCommunity/RxDataSources/issues/237

[2018-09-21 08:08] kenji21 commented on #124
Following carthage command produces same error as in PR https://github.com/RxSwiftCommunity/RxAlamofire/pull/122 of @rynecheow:

`carthage build --no-skip-current --no-use-binaries --platform iOS`

Then to fix this, I just removed `RxCocoa.framework`, `RxSwift.framework` and `Alamofire.framework` from `RxAlamofire-iOS` target of `RxAlamofire.xcodeproj`

<img width="825" alt="screen shot" src="http

[2018-09-24 09:46] gonzo-oin commented on #124
The pull request of @rynecheow is working like a charm 👍
While waiting merge of PR, you could use `github "rynecheow/RxAlamofire" "xcode-10"` in your cartfile

[2018-09-24 22:16] freak4pc commented on #124
RxAlamofire 4.3 was just released. Thanks @rynecheow !

[2018-09-24 22:16] #124 closed

[2018-09-24 22:18] freak4pc commented on #123
Fixed in RxAlamofire 4.3

[2018-09-24 22:18] #123 closed

[2018-09-28 20:30] piotrbcz commented on #123
Perfect. Working well on iOS 12.

[2018-11-18 11:26] alouanemed opened #127 "Cannot convert value of type 'Data' to type 'HttpResponse<[_]>' in coercion"
I am trying to use generics in swift to intrepret http responses. All The Json responses have the same signature at the top :

    {
    "request": "foo",
    "result": "[{},{}....]
    }

So I am using this :

    public struct HttpResponse<DATA: Codable>  {
        public let request: Bool?
        public let result: DATA?

        enum CodingKeys: String, CodingKey {
            case request= "

[2018-11-23 15:50] Ricardo1980 commented on #47
Did you find the solution? I have the same problem.

[2018-12-06 13:52] Anatoli-Petrosyants opened #129 "retryWhen example"
Could anyone provide example with retryWhen?

[2019-01-10 06:33] carlosypunto opened #130 "Support Alamofire 5.0.0"
It may be too early to make this issue, but Alamofire 5 B1 is fully functional and has very good qualities. It seems it's new API is practically defined [as announced on Swift's blog](https://forums.swift.org/t/alamofire-5-one-year-in-the-making-now-in-beta/18865).

There is a [new branch with the beta 1 changes](https://github.com/RxSwiftCommunity/RxAlamofire/tree/supportAlamofire5.0.0.beta.1), w

[2019-01-12 12:30] mehdok commented on #129
I'm using retryWhen for when internet is not available, so the block will retry after net becomes available:

[code]

[2019-01-28 20:44] anonrig commented on #29
Any updates on this?

[2019-01-29 09:14] freak4pc commented on #29
Hey - if anyone is willing to open a PR, I can review it. Thanks :)

[2019-01-29 12:17] anonrig commented on #29
Can you reopen this issue @freak4pc

[2019-01-29 12:38] freak4pc commented on #29
Better to open a new post with new information. The original issue is almost 3 years old. Thanks :)

[2019-02-10 14:15] manondidi opened #134 "leak"
![qq20190210-222122](https://user-images.githubusercontent.com/18095722/52534934-ec999f80-2d82-11e9-8947-4fa73d8a995a.png)

 RxAlamofire.requestString(.post, "http://47.98.129.57:8080/info-admin-web/user/manondidi", parameters: ["password":"12lllkkjj3"], encoding: URLEncoding.default, headers:  ["X-Requested-With": "XMLHttpRequest"])
            .debug()
            .observeOn(MainScheduler.instan

[2019-02-10 14:18] freak4pc commented on #134
Hey, please provide a reproducible project or a more substantive example. This isn't a proper bug report :)

Thanks,
Shai.

[2019-02-10 14:58] manondidi commented on #134
have you ever try to use instruments leak to test rxalamofire demo?
it also leaks when i run  rxalamofire-ios-example ,click Get Dummy Data
you can try it,please fix it

你们试过用instruments leak来测试过 rxalamofire demo吗?
当我运行 rxalamofire-ios-example 点击  "Get Dummy Data" 按钮的时候发生了leak
不信你自己试试

[2019-02-11 01:11] manondidi commented on #134
do you find it leak and reason?

[2019-02-11 08:20] freak4pc commented on #134
Hey - this is a volunteer based project. We don’t work on demand :)

Feel free to open a PR with the fix if you found it.

[2019-02-11 12:09] manondidi commented on #134
okay ,i will try to fix it if i can

[2019-02-11 15:13] manondidi commented on #134
hey ,i find leak
because of alamofire
it leaks when i run alamofire 4.0+&5.0 demo

[2019-02-11 15:58] freak4pc commented on #134
If it's an issue in Alamofire itself, feel free to file an issue on their repo

[2019-02-14 21:42] #134 closed

[2019-02-14 21:42] freak4pc commented on #130
Feel free to make a branch with those changes if you'd like to. Otherwise, I think we'll wait for more advanced betas to avoid doing double work. WDYT?

[2019-02-14 21:42] #129 closed

[2019-02-14 21:43] #75 closed

[2019-02-14 21:43] #77 closed

[2019-02-14 21:43] #83 closed

[2019-02-19 07:49] sunshinejr commented on #130
@carlosypunto @freak4pc I just started doing the update in Moya, so I'd be happy to help with CRs or anything else here as well.

[2019-02-19 22:10] freak4pc commented on #130
I'll appreciate it @sunshinejr ! I usually like to wait longer for final interfaces but there's no harm in starting early here :)

[2019-02-20 11:13] sunshinejr commented on #130
@freak4pc yeah we started earlier because the rewrite introduced few aspects around underlying requests that are now **asynchronously** created in Alamofire. This way we will have to rewrite some parts of Moya, not sure if something similar will happen here in RxAlamofire, but I think it's worth to start the works now to make a room for possible rewrite.

That being said, I don't really have time

[2019-02-20 17:07] carlosypunto commented on #130
@freak4pc My idea was that, leave this branch to evolve v5 from here, if will be more laborious merge than forget it, that has no problems for me. A although is possible will haven't many changes in Alamofire v5.

[2019-02-21 08:31] freak4pc commented on #130
Either sounds great to me. Feel free to open a branch and start playing around :) I would really don't mind.

[2019-03-20 15:49] mendesbarreto commented on #127
Hello @alouanemed ,

How is it going? I know there is a lot of time this issue is opened, but I should ask.

Did you find any solution for your issue? if yes, please share if you could.

If not, Maybe I can help in something =) .

Thank you

[2019-03-22 13:01] mendesbarreto commented on #127
I'll close this issue, since it has been open for a long time without interactions, if we need, we can re-open and discuss it.

Thank you!

[2019-03-22 13:01] #127 closed

[2019-03-22 23:36] mendesbarreto commented on #109
Hey Man! How is it going?

I have seen that this problem has been open for a long time and would like to know if you need help yet? If you have already solved the problem, could you post the solution here?

Thx!

[2019-03-23 03:45] ArnabHore commented on #109
Hi,

I wasn't able to solve that through RxAlamofire. For this one network call I used NSURLSession and manually handled the status code.

[2019-03-24 15:33] seriyvolk83 commented on #65
Updated version that handles errors and completes the request:
[code]

[2019-03-26 01:32] kokhong20 opened #137 "Unable to build RxAlamofire using Xcode 10.2"
Apple has released Xcode 10.2 and I am unable to build RxAlamofire after I updated my Xcode.

`Task failed with exit code 65:
    /usr/bin/xcrun xcodebuild -workspace /Users/jameslai/Git/core-product-ios-client/Carthage/Checkouts/RxAlamofire/RxAlamofire/RxAlamofire.xcworkspace -scheme RxAlamofire-iOS -configuration Release -derivedDataPath /Users/jameslai/Library/Caches/org.carthage.CarthageKit/De

[2019-03-27 00:25] rynecheow opened #141 "OHTTPStubs intermittent failure"
Test cases for HTTP stubs seems to be failing at a random rate - would need to look at if these are producible and fix these errors if they are.

[2019-03-27 21:06] mendesbarreto commented on #109
Hey man,

I did a little tests with your code and the "native"form:

[code]

all my simulation with GET and POST, I could get the status code.

[2019-03-29 19:08] mendesbarreto commented on #109
I will close the issue, if you need we can reopen.

thx

[2019-03-29 19:08] #109 closed

[2019-04-23 13:35] afeng159 opened #144 "carthage update --platform ios . error"
Building scheme "RxAlamofire iOS" in _.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/chenxufeng/Documents/work/apub-companion-ios/Carthage/Checkouts/RxAlamofire/_.xcodeproj -scheme RxAlamofire\ iOS -configuration Release -derivedDataPath /Users/chenxufeng/Library/Caches/org.carthage.CarthageKit/DerivedData/10.1_10B61/RxAlamofire/4.4.1 -sdk iphone

[2019-04-23 13:37] afeng159 commented on #144
error: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'RxAlamofire iOS')

[2019-04-23 14:39] freak4pc commented on #144
@rynecheow Any idea ?

[2019-04-24 03:32] afeng159 commented on #144
xcode 10

[2019-04-24 03:34] afeng159 commented on #144
Is there any way to resolve it?

[2019-04-24 08:33] afeng159 commented on #137
xcode10.2  using swift4.2    isOK？

[2019-04-25 17:22] apparence commented on #144
I got exactly the same error

I am with swift 4.2 and RxAlamofire version 4.4.0

Does any one found a solution?

[2019-04-26 15:39] sunshinejr commented on #144
I took a quick look at the issue today @freak4pc.

So the problem is that the .xcodeproj is using Swift 5.0, but the .podspec is saying that CocoaPods should use Swift 4.2 to build the library. So, CocoaPods users will use this lib with Swift 4.2 and Carthage users will use it with Swift 5.0. Because of that, CocoaPods users will easily use this lib in Xcode 10.1/2 but Carthage users will unfortun

[2019-04-26 15:56] rynecheow commented on #144
Thanks @sunshinejr for taking a look! I did the original pull request to support Swift 5 but unfortunately I've been tied up. I agree on the solutions and I'd say in the longer term, option 2 would be the more viable solution.
I think we should update the documentation to at least mention Xcode 10.1 users that are on up to Swift 4.2 should use RxAlamofire 4.2 instead, or bump the current release e

[2019-04-26 16:49] freak4pc commented on #144
If we raise the minimum to Swift 5, let’s wait for RxSwift 5. It’s supposed to be released over the next week or two.

[2019-04-26 16:59] apparence commented on #144
Thanks a lot @sunshinejr works like a charm !

[2019-04-27 08:59] sunshinejr commented on #144
I agree @freak4pc. This way RxAlamofire could be upgraded to 5.0.0 as well. For the time being, it might be a good idea to update the xcodeproj to use Swift 4.2 and make a patch release as CocoaPods  and CI is prepared for 4.2 anyways.

[2019-04-27 09:41] freak4pc commented on #144
@rynecheow Can you take care of this? We can release RxAlamofire 4.5.0 that only supports Swift 4.2 and RxAlamofire 5 which will work against RxSwift 5 and thus support only Xcode 10.2 and above (e.g. only the Swift compiler).

[2019-04-30 12:27] #144 closed

[2019-05-03 10:14] freak4pc commented on #137
RxAlamofire 5.0.0 was just released.

[2019-05-03 10:14] #137 closed

[2019-05-05 19:33] anonrig commented on #65
I think this is also a solution. Right?

[code]

[2019-05-05 19:36] seriyvolk83 commented on #65
No

[2019-05-19 17:21] rrodrigues opened #147 "DataRequest response is observed always on DispatchQueue.main ignoring any subscribeOn"
The `DataRequest` response is always observed on `DispatchQueue.main`.
For example:
[code]

This seems to be because there isn't any queue being passed along when calling `DataRequest.response(queue: responseSerializer: completionHandler)`, which makes it to default to the `DispatchQueue.main`.

Since there is a `.subscribeOn(schedule)` shouldn't the `subscribe(onNext:)` be done on the `schedule`

[2019-05-24 05:02] DevTchernov opened #148 "There is no 4.5.0 version in Cocoapods specs"
https://github.com/CocoaPods/Specs/tree/master/Specs/f/8/f/RxAlamofire

[2019-05-24 15:14] ifabijanovic opened #149 "Xcode 10.2 carthage build fails"
Cartfile
[code]

carthage version
0.33

swift --version
Apple Swift version 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)
Target: x86_64-apple-darwin18.6.0

[code]

From log:
[code]

I can reproduce this in a new folder containing just the `Cartfile` listed above.

[2019-05-27 17:00] PatrickKaalund commented on #149
+ 1

[2019-06-04 01:45] Ronaldoh1 commented on #149
+1

[2019-06-04 09:15] freak4pc commented on #149
Hey - I won't have much time to look into this soon, feel free to submit a PR and I'd love to review and release it if a appropriate

[2019-06-04 09:32] freak4pc commented on #149
Why are you using `--no-use-binaries` ? Don't you want to enjoy the precompile binaries?

Anyeays - Without `--no-use-binaries`, it works with no issues:

![image](https://user-images.githubusercontent.com/605076/58867653-80410400-86c3-11e9-8355-7a7a94863cbd.png)

As for `--no-use-binaries` - I unfortunately won't have time to work on it soon. I'm not sure what's the issue but it seems to be in Rx

[2019-06-04 09:41] freak4pc commented on #149
Tracking here: https://github.com/ReactiveX/RxSwift/issues/2000

[2019-06-04 14:24] ifabijanovic commented on #149
@freak4pc I think that there was no Swift 5.0.1 binary for RxSwift at the time of opening this issue, so it was being built regardless of that flag. But even then, this does not stop the build from failing on Travis since downloading binaries does not work there.

[2019-06-04 14:25] freak4pc commented on #149
@ifabijanovic why not? I mean, what's the problem with Travis? It doesn't have Xcode 10.2.1 ?

[2019-06-04 14:30] ifabijanovic commented on #149
It fails the download with "Maximum number of login attempts exceeded. Please try again later." message.

But now I'm reading that there might be a way around that actually - https://github.com/Carthage/Carthage/issues/1236 - will try that out. If that works then this resolves the issue for me.

[2019-06-04 22:22] epatey commented on #147
@rrodrigues , this is expected behavior. The wording is confusing. `.subscribeOn` doesn't specify on which queue/scheduler to deliver events for the subscription. Instead, it means where to execute code associated with _initiating_ the subscription.

You will get the behavior you're looking for if you simply replace your `.subscribeOn` with `.observeOn`.

[2019-06-05 12:36] rrodrigues commented on #147
@epatey yes `.subscribeOn` should specify on which thread the whole chain starts processing, `.observeOn` allows to switch between threads.

I'm sorry if I wasn't able to explain me correctly.

What I think is not the expected behaviour is that when you create a sequence of operations like:
[code]
if you don't call `.observeOn` anywhere the `.subscribe(onNext:` should be done on the initial thread

[2019-06-05 12:38] freak4pc commented on #147
I don't think this makes sense because it doesn't happen like that anywhere in Rx resource processing. You are responsible for deciding where to process and where to receive events.

It really shouldn't (and probably can't) be a library's responsibility to force you to use some scheduler you used earlier, plus library doesn't know which scheduler it's running on usually, since it shouldn't know (i

[2019-06-05 16:25] rrodrigues commented on #147
ok.
So my understanding is wrong then.
Thanks for the clarification.

[2019-06-05 16:25] #147 closed

[2019-06-20 07:40] baonguyena1 commented on #65
I've one question. I want to cancel upload but I can't do it because of upload tasks in Success closure.
How can I do it?

[2019-07-23 11:51] oNguyenNgocBan commented on #149
I have the same problem with command: `carthage update --platform ios`

[2019-07-23 15:41] freak4pc commented on #149
Please provide a fully reproducible example project or I won’t be able to help too much...

[2019-07-24 21:20] kleiberjp opened #151 "Cannot get response data when error occurred"
This request Is based on https://github.com/RxSwiftCommunity/RxAlamofire/issues/29

Isn't possible get the status coder or response data when error occurs on a request

[2019-07-31 12:52] kenji21 commented on #149
same issue with Xcode 10.3, the reason we use `--no-use-binaries` to have jenkins not download binaries after migration to a newer Xcode

Cartfile:

[code]

`carthage update --no-build --cache-builds --platform iOS --no-use-binaries --use-submodules`
and
`carthage build --cache-builds --platform iOS`

[2019-08-08 04:11] thedavidharris commented on #130
Started playing around with this out of curiosity, it's pretty straightforward outside of the response decoding since there was a big refactor to Codable over some of the existing constructs (https://github.com/Alamofire/Alamofire/pull/2265).

[2019-08-14 12:10] Mobifyi opened #152 "I have updated my swift version from 3.2 to 4.2 and start getting error in api calling."
I am getting error after updating my swift versions from 3.2 to 4.2. Error is "RxAlamofireDomain error -1". Some time it getting successful and most of the time getting this error.

[2019-08-14 20:44] sunshinejr commented on #152
@Mobifyi Can you try and get request/response logs from both versions (3.2, 4.2)?

[2019-08-16 20:42] phongleq commented on #130
Has there been update to this?

[2019-09-04 12:37] kenji21 commented on #149
Tracked down the issue to the command runner by carthage:

[code]

And removing `-sdk iphoneos` make it works:

[code]

[2019-09-04 12:57] kenji21 commented on #149
Ok, it is related to the "new build system", because archiving works when adding `-UseModernBuildSystem=NO` (and with `-sdk iphoneos`) to the command:

[code]

[2019-09-04 13:06] kenji21 commented on #149
it's archiving fine with Xcode 11 beta7 :D

[2019-09-10 02:53] della-padula opened #157 "Can I Add Translated version of README.md File?"

[2019-09-10 02:53] #157 closed

[2019-09-10 02:54] della-padula opened #158 "Can I Add Korean translated version of README.md file?"
I add the content which is translated to korean from english for REAMD.md file.
Can I commit this file and request merge?

[2019-10-16 00:26] MarcSteven commented on #158
@della-padula  Hi, you can send PR and then if the author think it's cool , they can merge it into the master. Your contribution will make the project work well. Come on!

[2019-10-16 01:26] della-padula commented on #158
I already send pull request, but the pipeline was failed. I just ONLY modify the README.md file. I don't know why the pipeline was failed.....

[2019-10-16 06:08] MarcSteven commented on #158
Yeah, nothing ，  you can skip CI and then all will be passed @della-padula

[2019-10-18 09:05] danipralea commented on #130
very interested in this as well and I would love to use the Alamofire 5.0 features. are there any plans to support it?

[2019-10-18 10:05] sunshinejr commented on #130
@phongleq @danipralea I think we all agree that we would love to support Alamofire 5.0. Now we just need someone to prepare a PR with the update and I will gladly review it 👍

[2019-10-30 08:17] michzio commented on #130
Is there any alpha, beta release of RxAlamofire compatible with Alamofire 5.0 i am coding sample project and it will nice to have even beta/alpha pod release

[2019-10-30 08:33] sunshinejr commented on #130
@michzio unless someone made a fork and didn’t make a PR yet, we don’t have a version with RxAlamofire that supports Alamofire 5.

[2019-10-30 15:05] xPryds commented on #148
Same problem here

[2019-11-27 12:58] DAEUN28 opened #163 "Response difference between RxAlamofire and URLSession + Rx"
I sent the request in two ways to the server that was implemented by the Spring.
I sent the request using URLSession + Rx and RxAlamofire, but different results were obtained.
The status code when using RxAlamofire was 400, and the status code when using URLSession + Rx was 200.
I tried to find the cause of the problem but couldn't find the cause.
I think only servers implemented with Spring have

[2019-11-27 14:49] sunshinejr commented on #163
Hey @DAEUN28. It seems to me that you are sending `JSON`-encoded parameters in the body of the `URLSession`+Rx request but `URL`-encoded parameters in the `RxAlamofire`'s request. Can you try using `JSONEncoding` in the `RxAlamofire` call as well and see if it helps?

[2019-11-28 01:23] DAEUN28 commented on #163
It's solved!! Thank you very much😆😆🥳

[2019-11-28 01:25] #163 closed

[2019-12-08 19:46] mesheilah commented on #151
is there any updates to this issue ?

[2019-12-12 11:01] manondidi commented on #134
the leak is ios 11 bug, not your fault ,
now in ios12.4.3 ,the bug is disappear,it's ok

[2020-01-15 23:26] gorbat-o commented on #151
hey, same issue here

[2020-01-15 23:28] gorbat-o commented on #29
Still the same issue anyway
even affter 3 years 😅

[2020-01-16 00:45] gorbat-o commented on #151
I end up using `.responseData()`

[2020-01-18 21:04] anonrig commented on #29
lol opensource is awesome...

[2020-01-18 21:06] freak4pc commented on #29
I guess you have two options @anonrig:

1. Fix it yourself and submit a PR
2. Write a douchie comment about the free work of hundreds of contributors

We all know what you picked.

Note that the last comment here mentioned this issue is over 3 years old, and that if someone is having the same issue, they should **open a new issue**.

Please do as I mentioned above if it's still bothering you.

Loc

[2020-01-18 21:07] freak4pc commented on #151
As mentioned in #29, I'm happy to review a PR if someone makes one. I'm not a user of this repo so fixing this wouldn't be something I can prioritize.

[2020-02-28 15:39] meruiden opened #164 "Could you remove UIWebView bindings"
We identified one or more issues with a recent delivery for your app, "AppName". Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs starting from April 2020 . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

[2020-02-28 15:42] #164 closed

[2020-03-02 04:49] geonu1109 opened #165 "use return type `single` instead of `observable`"
Requests using alamofire emit a response only once.
So, I think `single` is better than `observable` for it's return type.

[2020-03-04 06:31] shraddha-patel-1891 commented on #152
Hello @Mobifyi
I have the same issue so have you got any solution regarding this?
if you have solution then please help me.
Thank you

[2020-04-06 13:55] arjungupta0107 opened #167 "RxAlamofire uses UIWebView which is now deprecated as per the Apple's guide lines and giving warning when i uploaded app to apstore"

[2020-04-17 19:34] #167 closed

[2020-04-22 03:44] CodingAleCR commented on #130
https://github.com/RxSwiftCommunity/RxAlamofire/releases/tag/5.2.0

[2020-05-14 07:55] hamedmohammadi commented on #130
it looks like in the master branch you removed test targets in "feature/rxswift-alamofire-5.0" branch everything was fine.
should I correct this and send you a pull request or you will fix this?

[2020-05-14 08:58] peterlendvay opened #172 "5.2 release does not build"
Hi,

5.2 release doesn't seem to build for us. We are using Carthage and the build fails with a lot of errors. I've tried downloading the source code from your github release page, and building it in XCode 11.4.1, but I get 33 errors.

![image](https://user-images.githubusercontent.com/11329930/81914481-a492a980-95d1-11ea-9e8e-077c03805899.png)

Help would be appreciated, thanks!

[2020-05-14 14:52] gonzo-oin commented on #172
Same bug here

[2020-05-22 07:50] peterlendvay commented on #172
Is RxXAlamofire actively supported?

[2020-05-23 10:19] rynecheow opened #173 "Generate Carthage main build project through Xcodegen"
Pros:
- Better consistency over project structure for multi platform support
- Better consistency as project.xcodeproj will be regenerated every build and relies on project.yml as source of truth

[2020-05-24 08:33] rynecheow opened #174 "Better Unit Tests"
To attain >60% of unit test coverage rate (33.7% today)

[2020-05-25 04:54] rynecheow opened #176 "Convert release pipeline to GitHub actions"

[2020-05-25 15:40] #173 closed

[2020-05-26 00:52] #176 closed

[2020-05-26 02:46] #172 closed

[2020-05-27 14:52] enasaz9 opened #180 "No such module 'Alamofire' issue with XCode 11.5"
After updating my OS to Catalina 10.15.4 (19E287), and my Xcode to 11.5
I'm getting this error whenever i'm trying to build my app
No such module 'Alamofire'

Podfile.lock snippet
[code]

[2020-06-07 03:37] rynecheow commented on #180
Hi @enasaz9, am not sure what is wrong, as this might be more related to Alamofire itself looking at your issue. Could you share more here?

[2020-06-19 08:15] rynecheow opened #184 "RxAlamofire support for AuthenticationInterceptor"
To add support for https://github.com/Alamofire/Alamofire/blob/master/Source/AuthenticationInterceptor.swift

[2020-06-22 13:51] #184 closed

[2020-06-22 13:51] #180 closed

[2020-06-22 13:52] #152 closed

[2020-06-22 13:52] #84 closed

[2020-06-22 13:52] rynecheow commented on #130
Alamofire 5 is already supported.

[2020-06-22 13:52] #130 closed

[2020-06-22 13:53] #141 closed

[2020-06-22 13:53] #148 closed

[2020-06-22 13:53] #149 closed

[2020-06-22 13:54] #151 closed

[2020-06-22 13:54] #158 closed

[2020-08-20 01:24] OrRosenblatt commented on #148
Why was the issue closed? I'm experiencing now the same... :(

<img width="949" alt="Screen Shot 2020-08-19 at 9 24 30 PM" src="https://user-images.githubusercontent.com/20166480/90706081-5fca7e80-e262-11ea-9333-08d9281227d4.png">

[2020-08-20 06:11] freak4pc commented on #148
Hey Or, I imagine your local specs aren't updated. Try running `pod update`:
https://cocoapods.org/pods/RxAlamofire

[2020-08-20 06:27] freak4pc commented on #148
So, here's the problem — I can't upload a 4.5 podspec because I need Xcode 10 to do that or `pod trunk push` fails validation. If anyone has an old enough version of Xcode to do this, let me know.

[2020-08-20 06:29] rynecheow commented on #148
Hi @OrRosenblatt, this was closed due to inactivity. Are you able to use newer versions?

[2020-08-21 08:30] YColdefy opened #188 "RxAlamofire is using OHHTTPStubs which is using UIWebView, deprecated by Apple"
My app is getting flagged for use of the deprecated UIWebView API and the only library using it that I could find is OHHTPPStubs, which is included by RxAlamofire.

There is [an issue about UIWebView](https://github.com/AliSoftware/OHHTTPStubs/issues/323) in OHHTTPStubs repository but it doesn't seems to have any activity.

Apps using UIWebView will not be accepted by the AppStore [starting Decemb

[2020-09-03 01:48] rynecheow commented on #188
Hi @YColdefy may I know how your application is using RxAlamofire today?

[2020-10-07 03:11] andremvb opened #190 "Encodable Parameters"
Hi!
I was trying to use, as Alamofire with Encodable Parameters; but I noticed that it doesn't exist.
Can I implement this?

[2020-10-26 17:27] bigMOTOR opened #191 "'validateSuccessfulResponse' shouldn't a part of result<T: DataResponseSerializerProtocol> method"
`validateSuccessfulResponse` shouldn't a part of `result<T: DataResponseSerializerProtocol>` method. This lefts no room for function composition like `runRequest -> validate -> getResult`. Current way it fires implicit validation error `validate(statusCode: 200..<300)` no matter if I have my own function in validate.

[2020-11-12 03:31] NishanthMurugan opened #193 "Crash : partial apply for closure #3 in UploadRequest.Uploadable.task(session:adapter:queue:)"
Production app is getting crashed randomly on **app launch** with below crash log.

**Fatal Exception: NSGenericException
Task created in a session that has been invalidated
partial apply for closure #3 in UploadRequest.Uploadable.task(session:adapter:queue:)**

[code]

[code]

[code]

[code]
[code]

[code]
[code]

[code]
[code]

App using Alamofire v4.9.1
'RxAlamofire', '5.1.0'

[2020-11-16 12:07] realityworks commented on #193
Are you able to update to a newer version of Alamofire and RxAlamofire?

[2020-12-09 14:09] realityworks opened #195 "No documentation for .post requests"
Where does one find any documentation to use this framework. I was expecting at least some information on how to create a post request with a custom body parameter. But nothing...

[2021-01-06 17:10] realityworks opened #197 "upload(multipartFormData does not support an RequestInterceptor"
There is no way to fix Authentication Token issues on 400/401 errors by reloading an authentication token.

There is also no way to extend RxAlamofire with the following :
[code]

Since the **request** creation function is internal, you cannot extend the Reactive RxAlamofire with a new function calling request directly.

Is there anyway to fix this without Forking?

[2021-05-08 04:11] gorbat-o commented on #151
Having this issue again. Request works fine with Alamofire, same request with RxAlamofire don't trigger the `.reponseData()`. Currently investigating.

[2021-06-24 06:16] harshvardhanarora opened #203 "RxAlamofire checks body if response code is 202"
If the response code from server is 202, rxalamofire checks for a body and if it is empty throws a `inputDataNilOrZeroLength` error which should not be the same as the request was still a success.

[2021-06-24 09:16] harshvardhanarora commented on #203
#204
This PR fixes the above issue. Kindly help with merging it thanks

[2021-10-29 13:21] wamarra commented on #195
I share the pain of the colleague above. :(

[2022-05-03 09:14] amiravisar89 commented on #195
anything new?

[2022-10-23 14:00] hoc081098 commented on #165
anything new?